@charset "utf-8";

// 全局盒尺寸计算模式
$default-box-sizing:     content-box               !default;

// 默认尺寸
$m-padding-vertical:     6px                       !default;
$m-padding-horizontal:   12px                      !default;
$m-border-width:         1px                       !default;
$m-border-radius:        3px                       !default;
$m-line-height:          $line-height-base         !default;
$m-font-size:            $font-size-base           !default;

// 较大尺寸
$l-padding-vertical:     10px                      !default;
$l-padding-horizontal:   16px                      !default;
$l-border-width:         $m-border-width           !default;
$l-border-radius:        $m-border-radius          !default;
$l-font-size:            $font-size-large          !default;
$l-line-height:          $line-height-large        !default;

// 超大尺寸
$xl-padding-vertical:    13px                      !default;
$xl-padding-horizontal:  22px                      !default;
$xl-border-width:        $l-border-width           !default;
$xl-border-radius:       $l-border-radius          !default;
$xl-font-size:           ceil($l-font-size * 1.2)  !default;
$xl-line-height:         $l-line-height            !default;

// 较小尺寸
$s-padding-vertical:     4px                       !default;
$s-padding-horizontal:   9px                       !default;
$s-border-width:         $m-border-width           !default;
$s-border-radius:        $m-border-radius          !default;
$s-font-size:            $font-size-small          !default;
$s-line-height:          $line-height-small        !default;

// 超小尺寸
$xs-padding-vertical:    2px                       !default;
$xs-padding-horizontal:  6px                       !default;
$xs-border-width:        $s-border-width           !default;
$xs-border-radius:       $s-border-radius          !default;
$xs-font-size:           $s-font-size              !default;
$xs-line-height:         $s-line-height            !default;
