@charset "utf-8";

// 深灰色
$gray-darker:                   lighten(#000, 13.5%)       !default;   // #222
// 暗灰色
$gray-dark:                     lighten(#000, 20%)         !default;   // #333
// 灰色
$gray:                          lighten(#000, 33.5%)       !default;   // #555
// 淡灰色
$gray-light:                    lighten(#000, 60%)         !default;   // #999
// 浅灰色
$gray-lighter:                  lighten(#000, 93.5%)       !default;   // #eee

// 主色
$brand-primary:                 #4BB2F7                    !default;

// 背景色
$brand-background:              #fff                       !default;

// 文本颜色
$font-color:                    $gray-dark                 !default;

// 次要文本颜色
$quiet-font-color:              $gray-light                !default;

// 强调文本颜色
$loud-font-color:               $gray-dark                 !default;

// 链接颜色
$link-color:                    $brand-primary             !default;
$link-focus-color:              darken($link-color, 15%)   !default;
$link-visited-color:            $link-color                !default;

// 线条颜色
$line-color:                      $gray-lighter            !default;
