@charset "utf-8";

/*! Elements Extend
    ============================================================================= */

////
/// _elements-extend.scss 文件用于扩展 elements 模块，提供更多常用的样式类。
///
/// @group elements-extend
/// @author Bios Sun <biossun@gmail.com>
////

// 像素宽度值
$nojiko-el-width-values: () !default;

// 字宽宽度值
$nojiko-el-em-width-values: () !default;

// 百分比宽度值
$nojiko-el-per-width-values: () !default;

// 类名配置
// ---------------------------

// 宽度
$nojiko-el-width:                         w                          !default;

// 元素显示
// -----------------

// 块级元素
$nojiko-el-display-block:                 db                         !default;

// 行内元素
$nojiko-el-display-inline:                di                         !default;

// 行内块级元素
$nojiko-el-display-inline-block:          dib                        !default;

// 文字对齐
// -----------------

// 文字左对齐
$nojiko-el-text-left:                     tl                         !default;
// 文字右对齐
$nojiko-el-text-right:                    tr                         !default;
// 文字居中对齐
$nojiko-el-text-center:                   tc                         !default;
// 文字两端对齐
$nojiko-el-text-justify:                  tj                         !default;

// 文字样式
// -----------------

// 文字加粗
$nojiko-el-text-bold:                     tb                         !default;
// 文字倾斜
$nojiko-el-text-italic:                   ti                         !default;
// 文字下划线
$nojiko-el-text-underline:                tu                         !default;
// 文字删除线
$nojiko-el-text-del:                      td                         !default;

// 文字较大
$nojiko-el-text-large:                    tp                         !default;
// 文字较小
$nojiko-el-text-small:                    tm                         !default;

// 其它
// -----------------

// 单行文本，且内容溢出时显示省略号的元素（需要设置宽度）
$nojiko-el-text-overflow:                 to                         !default;

// 包含一个字符 '|' 的元素，通常用于分隔其他行内元素
$nojiko-el-separator-line:                sl                         !default;

// 小三角箭头
$nojiko-el-triangle:                      ar                         !default;


// 宽度
// ---------------------------

@if $nojiko-el-width {
    @each $length in $nojiko-el-width-values {
        .#{$nojiko-el-width}#{$length} { width: $length + 0px; }
    }

    @each $length in $nojiko-el-em-width-values {
        .#{$nojiko-el-width}#{$length}em { width: $length + 0em; }
    }

    @each $length in $nojiko-el-per-width-values {
        .#{$nojiko-el-width}#{$length}p { width: $length + 0%; }
    }
}


// 元素显示
// ---------------------------

@if $nojiko-el-display-block            { .#{$nojiko-el-display-block}            { display: block;                    } }
@if $nojiko-el-display-inline           { .#{$nojiko-el-display-inline}           { display: inline;                   } }
@if $nojiko-el-display-inline-block     { .#{$nojiko-el-display-inline-block}     { @include inline-block;             } }


// 文字对齐
// ---------------------------

@if $nojiko-el-text-left   { .#{$nojiko-el-text-left}   { text-align: left;   } }
@if $nojiko-el-text-right  { .#{$nojiko-el-text-right}  { text-align: right;  } }
@if $nojiko-el-text-center { .#{$nojiko-el-text-center} { text-align: center; } }


// 文字样式
// ---------------------------
@if $nojiko-el-text-bold      { .#{$nojiko-el-text-bold}       { font-weight: bold;               } }
@if $nojiko-el-text-italic    { .#{$nojiko-el-text-italic}     { font-style: italic;              } }
@if $nojiko-el-text-underline { .#{$nojiko-el-text-underline}  { text-decoration: underline;      } }
@if $nojiko-el-text-del       { .#{$nojiko-el-text-del}        { text-decoration: line-through;   } }

@if $nojiko-el-text-large     { .#{$nojiko-el-text-large}      { font-size: $font-size-large;     } }
@if $nojiko-el-text-small     { .#{$nojiko-el-text-small}      { font-size: $font-size-small;     } }


// 文字单行，溢出显示省略号；需设定宽度
// ---------------------------

@if $nojiko-el-text-overflow  { .#{$nojiko-el-text-overflow}   { @include text-overflow-ellipsis; } }


// 字符分隔线
// ---------------------------

@if $nojiko-el-separator-line {
    .#{$nojiko-el-separator-line} {
        @include inline-block(middle);
        width: 1px;
        text-indent: 10000px;
        margin: -0.09em 0.5em 0;
        line-height: 1;
        background-color: $gray-light;
        overflow: hidden;
    }
}


// 小三角箭头
// ---------------------------
@if $nojiko-el-triangle {
    .#{$nojiko-el-triangle}-b { @include triangle(4px, bottom); margin-left: 2px; }
    .#{$nojiko-el-triangle}-t { @include triangle(4px, top   ); margin-left: 2px; }
    .#{$nojiko-el-triangle}-l { @include triangle(4px, left  ); margin-left: 2px; }
    .#{$nojiko-el-triangle}-r { @include triangle(4px, right ); margin-left: 2px; }
}
