@charset "utf-8";

////
/// _elements.scss 文件提供了一些常用的样式类。
/// @group Elements
/// @author Bios Sun <biossun@gmail.com>
////

// 元素类名风格
$nojiko-el-class-style: 'long' !default;

// 外边距值
$nojiko-el-margin-values: () !default;

// 内边距值
$nojiko-el-padding-values: () !default;

// 像素宽度值
$nojiko-el-width-values: () !default;

// 字宽宽度值
$nojiko-el-em-width-values: () !default;

// 百分比宽度值
$nojiko-el-per-width-values: () !default;

// 类名配置
@if $nojiko-el-class-style == 'long' {
    // 尺寸
    $nojiko-el-size:                          size-                      !default !global;

    // 外边距
    $nojiko-el-margin:                        margin-                    !default !global;
    $nojiko-el-margin-top:                    margin-top-                !default !global;
    $nojiko-el-margin-right:                  margin-right-              !default !global;
    $nojiko-el-margin-left:                   margin-left-               !default !global;
    $nojiko-el-margin-bottom:                 margin-bottom-             !default !global;
    $nojiko-el-margin-vertical:               margin-vertical-           !default !global;
    $nojiko-el-margin-horizontal:             margin-horizontal-         !default !global;

    // 内边距
    $nojiko-el-padding:                       padding-                   !default !global;
    $nojiko-el-padding-top:                   padding-top-               !default !global;
    $nojiko-el-padding-right:                 padding-right-             !default !global;
    $nojiko-el-padding-left:                  padding-left-              !default !global;
    $nojiko-el-padding-bottom:                padding-bottom-            !default !global;
    $nojiko-el-padding-vertical:              padding-vertical-          !default !global;
    $nojiko-el-padding-horizontal:            padding-horizontal-        !default !global;

    // 宽度
    $nojiko-el-width:                         width-                     !default !global;

    // 隐藏元素
    // -----------------

    // 完全隐藏
    $nojiko-el-hidden:                        hidden                     !default !global;
    // 视觉隐藏，但在屏幕阅读器中显示
    $nojiko-el-visually-hidden:               visually-hidden            !default !global;
    // 在视觉及屏幕阅读器中隐藏，但保持布局结构
    $nojiko-el-invisible:                     invisible                  !default !global;

    // 浮动
    // -----------------

    // 向左浮动的元素
    $nojiko-el-float-left:                    float-left                 !default !global;
    // 向右浮动的元素
    $nojiko-el-float-right:                   float-right                !default !global;
    // 清除内部浮动的元素
    $nojiko-el-clear-float:                   clear-float                !default !global;

    // 颜色
    // -----------------

    // 背景颜色
    $nojiko-el-background-color:              background-                !default !global;

    // 前景颜色
    $nojiko-el-foreground-color:              foreground-                !default !global;

    // 元素显示
    // -----------------

    // 块级元素
    $nojiko-el-display-block:                 block                      !default !global;

    // 行内元素
    $nojiko-el-display-inline:                inline                     !default !global;

    // 行内块级元素
    $nojiko-el-display-inline-block:          inline-block               !default !global;

    // 文字对齐
    // -----------------

    // 文字左对齐
    $nojiko-el-text-left:                     text-left                  !default !global;
    // 文字右对齐
    $nojiko-el-text-right:                    text-right                 !default !global;
    // 文字居中对齐
    $nojiko-el-text-center:                   text-center                !default !global;
    // 文字两端对齐
    $nojiko-el-text-justify:                  text-justify               !default !global;

    // 文字样式
    // -----------------

    // 文字加粗
    $nojiko-el-text-bold:                     text-bold                  !default !global;
    // 文字倾斜
    $nojiko-el-text-italic:                   text-italic                !default !global;
    // 文字下划线
    $nojiko-el-text-underline:                text-underline             !default !global;
    // 文字删除线
    $nojiko-el-text-del:                      text-del                   !default !global;

    // 文字较大
    $nojiko-el-text-large:                    text-large                 !default !global;
    // 文字较小
    $nojiko-el-text-small:                    text-small                 !default !global;

    // 其它
    // -----------------

    // 单行文本，且内容溢出时显示省略号的元素（需要设置宽度）
    $nojiko-el-text-overflow:                 text-overflow              !default !global;

    // 包含一个字符 '|' 的元素，通常用于分隔其他行内元素
    $nojiko-el-separator-line:                separator-line             !default !global;

    // 小三角箭头
    $nojiko-el-triangle:                      triangle                   !default !global;
}
@else {
    // 尺寸
    $nojiko-el-size:                          s                          !default !global;

    // 外边距
    $nojiko-el-margin:                        m                          !default !global;
    $nojiko-el-margin-top:                    mt                         !default !global;
    $nojiko-el-margin-right:                  mr                         !default !global;
    $nojiko-el-margin-left:                   ml                         !default !global;
    $nojiko-el-margin-bottom:                 mb                         !default !global;
    $nojiko-el-margin-vertical:               mv                         !default !global;
    $nojiko-el-margin-horizontal:             mh                         !default !global;

    // 内边距
    $nojiko-el-padding:                       p                          !default !global;
    $nojiko-el-padding-top:                   pt                         !default !global;
    $nojiko-el-padding-right:                 pr                         !default !global;
    $nojiko-el-padding-left:                  pl                         !default !global;
    $nojiko-el-padding-bottom:                pb                         !default !global;
    $nojiko-el-padding-vertical:              pv                         !default !global;
    $nojiko-el-padding-horizontal:            ph                         !default !global;

    // 宽度
    $nojiko-el-width:                         w                          !default !global;

    // 隐藏元素
    // -----------------

    // 完全隐藏
    $nojiko-el-hidden:                        h                          !default !global;
    // 视觉隐藏，只在屏幕阅读器中显示
    $nojiko-el-visually-hidden:               hv                         !default !global;
    // 在视觉及屏幕阅读器中隐藏，但保持布局结构
    $nojiko-el-invisible:                     hi                         !default !global;

    // 浮动
    // -----------------

    // 向左浮动的元素
    $nojiko-el-float-left:                    fl                         !default !global;
    // 向右浮动的元素
    $nojiko-el-float-right:                   fr                         !default !global;
    // 清除内部浮动的元素
    $nojiko-el-clear-float:                   fc                         !default !global;

    // 颜色
    // -----------------

    // 背景颜色
    $nojiko-el-background-color:              bg-                        !default !global;

    // 前景颜色
    $nojiko-el-foreground-color:              fg-                        !default !global;

    // 元素显示
    // -----------------

    // 块级元素
    $nojiko-el-display-block:                 db                         !default !global;

    // 行内元素
    $nojiko-el-display-inline:                di                         !default !global;

    // 行内块级元素
    $nojiko-el-display-inline-block:          dib                        !default !global;

    // 文字对齐
    // -----------------

    // 文字左对齐
    $nojiko-el-text-left:                     tl                         !default !global;
    // 文字右对齐
    $nojiko-el-text-right:                    tr                         !default !global;
    // 文字居中对齐
    $nojiko-el-text-center:                   tc                         !default !global;
    // 文字两端对齐
    $nojiko-el-text-justify:                  tj                         !default !global;

    // 文字样式
    // -----------------

    // 文字加粗
    $nojiko-el-text-bold:                     tb                         !default !global;
    // 文字倾斜
    $nojiko-el-text-italic:                   ti                         !default !global;
    // 文字下划线
    $nojiko-el-text-underline:                tu                         !default !global;
    // 文字删除线
    $nojiko-el-text-del:                      td                         !default !global;

    // 文字较大
    $nojiko-el-text-large:                    tp                         !default !global;
    // 文字较小
    $nojiko-el-text-small:                    tm                         !default !global;

    // 其它
    // -----------------

    // 单行文本，且内容溢出时显示省略号的元素（需要设置宽度）
    $nojiko-el-text-overflow:                 to                         !default !global;

    // 包含一个字符 '|' 的元素，通常用于分隔其他行内元素
    $nojiko-el-separator-line:                sl                         !default !global;

    // 小三角箭头
    $nojiko-el-triangle:                      ar                         !default !global;
}


// 尺寸
// ---------------------------

    @if $nojiko-el-size {
        @each $k, $v in $element-box-maps {
            .#{$nojiko-el-size}#{$k}    { @include element-box-by-name($k);    }
            .#{$nojiko-el-size}#{$k}-b  { @include element-box-by-name-b($k);  }
            .#{$nojiko-el-size}#{$k}-bh { @include element-box-by-name-bh($k); }
        }
}


// 外边距
// ---------------------------

@each $name in join((m, d, x), $nojiko-el-margin-values) {
    $v: 0;
    $h: 0;

    @if $name == m {
        $v: $distance-vertical;
        $h: $distance-horizontal;
    }
    @else if $name == -m {
        $v: -$distance-vertical;
        $h: -$distance-horizontal;
    }
    @else if $name == d {
        $v: $distance-vertical * 2;
        $h: $distance-horizontal *2;
    }
    @else if $name == x {
        $v: $distance-vertical / 2;
        $h: $distance-horizontal / 2;
    }
    @else if $name == -d {
        $v: -$distance-vertical * 2;
        $h: -$distance-horizontal * 2;
    }
    @else if $name == -x {
        $v: -$distance-vertical / 2;
        $h: -$distance-horizontal / 2;
    }
    @else {
        $v: $name;
        $h: $name;
    }

    @if unit($v) == "" { $v: $v + 0px; }
    @if unit($h) == "" { $h: $h + 0px; }

    // 如果类名使用简写方式，则隐去普通边距的尺寸名称
    @if $nojiko-el-margin == m {
        @if $name == m {
            $name: '';
        }
        @if $name == -m {
            $name: '-';
        }
    }

    @if $nojiko-el-margin {
        .#{$nojiko-el-margin}#{$name} {
            @if $v eq $h {
                margin: $v;
            }
            @else {
                margin: $v $h;
            }
        }
    }

    $ct: ();
    $cb: ();
    $cl: ();
    $cr: ();

    @if $nojiko-el-margin-top {
        $ct: append($ct, unquote('.#{$nojiko-el-margin-top}#{$name}'), comma);
    }

    @if $nojiko-el-margin-bottom {
        $cb: append($cb, unquote('.#{$nojiko-el-margin-bottom}#{$name}'), comma);
    }

    @if $nojiko-el-margin-left {
        $cl: append($cl, unquote('.#{$nojiko-el-margin-left}#{$name}'), comma);
    }

    @if $nojiko-el-margin-right {
        $cr: append($cr, unquote('.#{$nojiko-el-margin-right}#{$name}'), comma);
    }

    @if $nojiko-el-margin-vertical {
        $ct: append($ct, unquote('.#{$nojiko-el-margin-vertical}#{$name}'), comma);
        $cb: append($cb, unquote('.#{$nojiko-el-margin-vertical}#{$name}'), comma);
    }

    @if $nojiko-el-margin-horizontal {
        $cl: append($cl, unquote('.#{$nojiko-el-margin-horizontal}#{$name}'), comma);
        $cr: append($cr, unquote('.#{$nojiko-el-margin-horizontal}#{$name}'), comma);
    }

    @if length($ct) > 0 {
        #{$ct} { margin-top    : $v; }
        #{add-rem-suffix($ct)} { margin-top    : convert-rem($v); }
    }
    @if length($cb) > 0 {
        #{$cb} { margin-bottom : $v; }
        #{add-rem-suffix($cb)} { margin-bottom    : convert-rem($v); }
    }
    @if length($cl) > 0 {
        #{$cl} { margin-left   : $h; }
        #{add-rem-suffix($cl)} { margin-left    : convert-rem($h); }
    }
    @if length($cr) > 0 {
        #{$cr} { margin-right  : $h; }
        #{add-rem-suffix($cr)} { margin-right    : convert-rem($h); }
    }
}


// 内边距
// ---------------------------

@each $name in join((p, d, x), $nojiko-el-padding-values) {
    $v: 0;
    $h: 0;

    @if $name == p {
        $v: $distance-vertical;
        $h: $distance-horizontal;
    }
    @else if $name == -p {
        $v: -$distance-vertical;
        $h: -$distance-horizontal;
    }
    @else if $name == d {
        $v: $distance-vertical * 2;
        $h: $distance-horizontal *2;
    }
    @else if $name == x {
        $v: $distance-vertical / 2;
        $h: $distance-horizontal / 2;
    }
    @else if $name == -d {
        $v: -$distance-vertical * 2;
        $h: -$distance-horizontal * 2;
    }
    @else if $name == -x {
        $v: -$distance-vertical / 2;
        $h: -$distance-horizontal / 2;
    }
    @else {
        $v: $name;
        $h: $name;
    }

    @if unit($v) == "" { $v: $v + 0px; }
    @if unit($h) == "" { $h: $h + 0px; }

    // 如果类名使用简写方式，则隐去普通边距的尺寸名称
    @if $nojiko-el-padding == p {
        @if $name == p {
            $name: '';
        }
        @if $name == -p {
            $name: '-';
        }
    }

    @if $nojiko-el-padding {
        .#{$nojiko-el-padding}#{$name} {
            @if $v eq $h {
                padding: $v;
            }
            @else {
                padding: $v $h;
            }
        }
    }

    $ct: ();
    $cb: ();
    $cl: ();
    $cr: ();

    @if $nojiko-el-padding-top {
        $ct: append($ct, unquote('.#{$nojiko-el-padding-top}#{$name}'), comma);
    }

    @if $nojiko-el-padding-bottom {
        $cb: append($cb, unquote('.#{$nojiko-el-padding-bottom}#{$name}'), comma);
    }

    @if $nojiko-el-padding-left {
        $cl: append($cl, unquote('.#{$nojiko-el-padding-left}#{$name}'), comma);
    }

    @if $nojiko-el-padding-right {
        $cr: append($cr, unquote('.#{$nojiko-el-padding-right}#{$name}'), comma);
    }

    @if $nojiko-el-padding-vertical {
        $ct: append($ct, unquote('.#{$nojiko-el-padding-vertical}#{$name}'), comma);
        $cb: append($cb, unquote('.#{$nojiko-el-padding-vertical}#{$name}'), comma);
    }

    @if $nojiko-el-padding-horizontal {
        $cl: append($cl, unquote('.#{$nojiko-el-padding-horizontal}#{$name}'), comma);
        $cr: append($cr, unquote('.#{$nojiko-el-padding-horizontal}#{$name}'), comma);
    }

    @if length($ct) > 0 {
        #{$ct} { padding-top    : $v; }
        #{add-rem-suffix($ct)} { padding-top    : convert-rem($v); }
    }
    @if length($cb) > 0 {
        #{$cb} { padding-bottom : $v; }
        #{add-rem-suffix($cb)} { padding-bottom    : convert-rem($v); }
    }
    @if length($cl) > 0 {
        #{$cl} { padding-left   : $h; }
        #{add-rem-suffix($cl)} { padding-left    : convert-rem($h); }
    }
    @if length($cr) > 0 {
        #{$cr} { padding-right  : $h; }
        #{add-rem-suffix($cr)} { padding-right    : convert-rem($h); }
    }
}



// 宽度
// ---------------------------


@if $nojiko-el-width {
    @each $length in $nojiko-el-width-values {
        .#{$nojiko-el-width}#{$length} { width: $length + 0px; }
    }

    @each $length in $nojiko-el-em-width-values {
        .#{$nojiko-el-width}#{$length}em { width: $length + 0em; }
    }

    @each $length in $nojiko-el-per-width-values {
        .#{$nojiko-el-width}#{$length}p { width: $length + 0%; }
    }
}

// 隐藏元素
// ---------------------------

@if $nojiko-el-hidden { .#{$nojiko-el-hidden} { display: none !important; visibility: hidden; } }

@if $nojiko-el-visually-hidden {
    .#{$nojiko-el-visually-hidden} {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    .#{$nojiko-el-visually-hidden}-focusable {
        &:active,
        &:focus {
            position: static;
            width: auto;
            height: auto;
            margin: 0;
            overflow: visible;
            clip: auto;
        }
    }
}

@if $nojiko-el-invisible {
    .#{$nojiko-el-invisible} {
        visibility: hidden;
    }
}

// 浮动
// ---------------------------

@if $nojiko-el-float-left  { .#{$nojiko-el-float-left}  { @include float(left);  } }
@if $nojiko-el-float-right { .#{$nojiko-el-float-right} { @include float(right); } }
@if $nojiko-el-clear-float { .#{$nojiko-el-clear-float} { @include clearfix;     } }


// 颜色
// ---------------------------

@if $nojiko-el-background-color {
    @each $key, $color in $color-maps {
        .#{$nojiko-el-background-color}#{$key} {
            background: map-get($color, color);
        }
    }

    .#{$nojiko-el-background-color}common {
        background: $background-color;
    }

    .#{$nojiko-el-background-color}gray-darker {
        background: $gray-darker;
    }

    .#{$nojiko-el-background-color}gray-dark {
        background: $gray-dark;
    }

    .#{$nojiko-el-background-color}gray {
        background: $gray;
    }

    .#{$nojiko-el-background-color}gray-light {
        background: $gray-light;
    }

    .#{$nojiko-el-background-color}gray-lighter {
        background: $gray-lighter;
    }
}

@if $nojiko-el-foreground-color {
    @each $key, $color in $color-maps {
        .#{$nojiko-el-foreground-color}#{$key} {
            @include foreground-color(map-get($color, color));
        }
    }

    .#{$nojiko-el-foreground-color}text {
        @include foreground-color($text-color);
    }

    .#{$nojiko-el-foreground-color}quiet {
        @include foreground-color($text-color-quiet);
    }

    .#{$nojiko-el-foreground-color}loud {
        @include foreground-color($text-color-loud);
    }

    .#{$nojiko-el-foreground-color}link {
        @include foreground-color($link-color);
    }
}

// 元素显示
// ---------------------------

@if $nojiko-el-display-block            { .#{$nojiko-el-display-block}            { display: block;                    } }
@if $nojiko-el-display-inline           { .#{$nojiko-el-display-inline}           { display: inline;                   } }
@if $nojiko-el-display-inline-block     { .#{$nojiko-el-display-inline-block}     { @include inline-block;             } }


// 文字对齐
// ---------------------------

@if $nojiko-el-text-left   { .#{$nojiko-el-text-left}   { text-align: left;   } }
@if $nojiko-el-text-right  { .#{$nojiko-el-text-right}  { text-align: right;  } }
@if $nojiko-el-text-center { .#{$nojiko-el-text-center} { text-align: center; } }


// 文字样式
// ---------------------------
@if $nojiko-el-text-bold      { .#{$nojiko-el-text-bold}       { font-weight: bold;               } }
@if $nojiko-el-text-italic    { .#{$nojiko-el-text-italic}     { font-style: italic;              } }
@if $nojiko-el-text-underline { .#{$nojiko-el-text-underline}  { text-decoration: underline;      } }
@if $nojiko-el-text-del       { .#{$nojiko-el-text-del}        { text-decoration: line-through;   } }

@if $nojiko-el-text-large     { .#{$nojiko-el-text-large}      { font-size: $font-size-large;     } }
@if $nojiko-el-text-small     { .#{$nojiko-el-text-small}      { font-size: $font-size-small;     } }


// 文字单行，溢出显示省略号；需设定宽度
// ---------------------------

@if $nojiko-el-text-overflow  { .#{$nojiko-el-text-overflow}   { @include text-overflow-ellipsis; } }


// 字符分隔线
// ---------------------------

@if $nojiko-el-separator-line {
    .#{$nojiko-el-separator-line} {
        @include inline-block(middle);
        width: 1px;
        text-indent: 10000px;
        margin: -0.09em 0.5em 0;
        line-height: 1;
        background-color: $gray-light;
        overflow: hidden;
    }
}

// 小三角箭头
// ---------------------------
@if $nojiko-el-triangle {
    .#{$nojiko-el-triangle}-b { @include triangle(4px, bottom); margin-left: 2px; }
    .#{$nojiko-el-triangle}-t { @include triangle(4px, top   ); margin-left: 2px; }
    .#{$nojiko-el-triangle}-l { @include triangle(4px, left  ); margin-left: 2px; }
    .#{$nojiko-el-triangle}-r { @include triangle(4px, right ); margin-left: 2px; }
}
