@charset "utf-8";

////
/// _scaffolding.scss 文件用于提供一份尽可能通用的基础样式，以期望能够帮助开发者减少一些重复性的工作。
///
/// @group scaffolding
/// @author Bios Sun <biossun@gmail.com>
////

@if $default-box-sizing == border-box {
    *,
    *:before, 
    *:after {
        box-sizing: $default-box-sizing;
    }
}

body {
    font: unquote('#{$font-size-base}/#{$line-height-base}') $font-family;
    color: $text-color;
    background: $background-color;
}

a {
    text-decoration: none;
    color: $link-color;

    &:focus, &:hover {
        color: $link-focus-color;
        text-decoration: underline;
    }
}

hr {
  margin-top: compute-line-height($font-size-base, $line-height-base);
  margin-bottom: compute-line-height($font-size-base, $line-height-base);
  border: 0;
  border-top: 1px solid $line-color;
}

::placeholder {
    color: $placeholder-color;
}
