@charset "utf-8";

////
/// @group variables
////

// 兼容浏览器
// ---------------------------

/// 是否支持 IE6 浏览器
/// @type bool
$support-for-ie6:               true !default;

/// 是否支持 IE7 浏览器
/// @type bool
$support-for-ie7:               true !default;

/// 是否支持 IE8 浏览器
/// @type bool
$support-for-ie8:               true !default;


// 目录路径
// ---------------------------

/// 存放图片文件的目录的路径
/// @type {string}
$images-path:                   '../images';

/// 存放字体文件的目录的路径
/// @type {string}
$fonts-path:                    '../fonts';

// 文字
// ---------------------------

/// 默认字体集
/// @type list
$font-family:                   $FONT-FAMILY-SERIF !default;
/// 默认代码字体集
/// @type list
$font-family-monspace:          $FONT-FAMILY-FIXED-FONT !default;

/// 默认文字大小
/// @type length/px
$font-size-base:                14px !default;
/// 较大文字大小
/// @type length/px
$font-size-large:               ceil($font-size-base * 1.3) !default;  // 12: 15, 13: 16, 14: 18
/// 较小文字大小
/// @type length/px
$font-size-small:               floor($font-size-base * 0.88) !default; // 12: 10, 13: 11, 14: 12

/// 默认文字行高，该变量与 $font-size-base 对应
/// @type length/px,em,none
$line-height-base:              1.428571429 !default;
/// 较大文字行高，该变量与 $font-size-large 对应
/// @type length/px,em,none
$line-height-large:             1.34 !default;
/// 较小文字行高，该变量与 $font-size-small 对应
/// @type length/px,em,none
$line-height-small:             1.5 !default;


// 配色
// ---------------------------

/// 深灰色
/// @type color
$gray-darker:                   lighten(#000, 13.5%)       !default;   // #222
/// 暗灰色
/// @type color
$gray-dark:                     lighten(#000, 20%)         !default;   // #333
/// 灰色
/// @type color
$gray:                          lighten(#000, 33.5%)       !default;   // #555
/// 淡灰色
/// @type color
$gray-light:                    lighten(#000, 60%)         !default;   // #999
/// 浅灰色
/// @type color
$gray-lighter:                  lighten(#000, 93.5%)       !default;   // #eee

/// 主色
/// @type color
$primary-color:                 #428bca                    !default;

/// 背景色
/// @type color
$background-color:              #fff                       !default;

/// 线条颜色
/// @type color
$line-color:                    #d7d7d7                    !default;

/// 文本颜色
/// @type color
$text-color:                    $gray-dark                 !default;
/// 次要文本颜色
/// @type color
$text-color-quiet:              $gray-light                !default;
/// 强调文本颜色
/// @type color
$text-color-loud:               $gray-dark                 !default;

/// 链接颜色
/// @type color
$link-color:                    $primary-color             !default;
/// 链接获取到焦点时的颜色
/// @type color
$link-focus-color:              darken($link-color, 15%)   !default;
/// 已访问过的链接的颜色
/// @type color
$link-visited-color:            $link-color                !default;

/// 占位符颜色
/// @type color
$placeholder-color:             lighten($text-color, 40%)  !default;

/// 配色集合
/// @type map
$color-maps:                    ()                         !default;

// 将主色加入配色集合中
$color-maps:                    set-color-maps(primary, $primary-color, default);

// 成功状态配色
$color-maps:                    set-color-maps(success, #5cb85c, default);

// 信息状态配色
$color-maps:                    set-color-maps(info,    #5bc0de, default);

// 警告状态配色
$color-maps:                    set-color-maps(warning, #f0ad4e, default);

// 错误状态配色
$color-maps:                    set-color-maps(danger,  #d9534f, default);

/// 备选颜色集合
/// @type map
$alternative-color-maps:        ()                         !default;

// 成功状态备选色
$alternative-color-maps:        set-alternative-color-maps(success, #dff0d8, #3c763d, default);

// 信息状态备选色
$alternative-color-maps:        set-alternative-color-maps(info,    #d9edf7, #31708f, default);

// 警告状态备选色
$alternative-color-maps:        set-alternative-color-maps(warning, #fcf8e3, #8a6d3b, default);

// 异常状态备选色
$alternative-color-maps:        set-alternative-color-maps(danger,  #f2dede, #a94442, default);


// 尺寸
// ---------------------------

/// 全局盒尺寸计算模式
/// @type [content-box|border-box]
$default-box-sizing:            content-box               !default;

/// 默认盒尺寸名称
/// @type meta
$default-element-box-name:      m                         !default;

// 普通尺寸
$element-box-maps: set-element-box-maps(
    $name:                      m,
    $padding-vertical:          6px,
    $padding-horizontal:        12px,
    $border-width:              1px,
    $border-radius:             3px,
    $font-size:                 $font-size-base,
    $line-height:               $line-height-base,
    $is-default:                true
);

// 较大尺寸
$element-box-maps: set-element-box-maps(
    $name:                      l,
    $padding-vertical:          10px,
    $padding-horizontal:        16px,
    $border-width:              1px,
    $border-radius:             3px,
    $font-size:                 $font-size-large,
    $line-height:               $line-height-large,
    $is-default:                true
);

// 超大尺寸
$element-box-maps: set-element-box-maps(
    $name:                      xl,
    $padding-vertical:          13px,
    $padding-horizontal:        22px,
    $border-width:              1px,
    $border-radius:             3px,
    $font-size:                 ceil($font-size-large * 1.2),
    $line-height:               $line-height-large,
    $is-default:                true
);

// 较小尺寸
$element-box-maps: set-element-box-maps(
    $name:                      s,
    $padding-vertical:          4px,
    $padding-horizontal:        9px,
    $border-width:              1px,
    $border-radius:             3px,
    $font-size:                 $font-size-small,
    $line-height:               $line-height-small,
    $is-default:                true
);

// 超小尺寸
$element-box-maps: set-element-box-maps(
    $name:                      xs,
    $padding-vertical:          2px,
    $padding-horizontal:        6px,
    $border-width:              1px,
    $border-radius:             3px,
    $font-size:                 $font-size-small,
    $line-height:               $line-height-small,
    $is-default:                true
);


// 布局
// ---------------------------

/// 页面宽度
/// @type bool, length
$page-width:                    false                     !default;

/// 模块之间的垂直间距
/// @type length/px
$distance-vertical:             20px                      !default;

/// 模块之间的水平间距
/// @type length/px
$distance-horizontal:           20px                      !default;
