/*! Elements
    ============================================================================= */
.m {
  margin: 20px; }

.mt, .mv {
  margin-top: 20px; }

.mt-rem, .mv-rem {
  margin-top: 1.25rem; }

.mb, .mv {
  margin-bottom: 20px; }

.mb-rem, .mv-rem {
  margin-bottom: 1.25rem; }

.ml, .mh {
  margin-left: 20px; }

.ml-rem, .mh-rem {
  margin-left: 1.25rem; }

.mr, .mh {
  margin-right: 20px; }

.mr-rem, .mh-rem {
  margin-right: 1.25rem; }

.md {
  margin: 40px; }

.mtd, .mvd {
  margin-top: 40px; }

.mtd-rem, .mvd-rem {
  margin-top: 2.5rem; }

.mbd, .mvd {
  margin-bottom: 40px; }

.mbd-rem, .mvd-rem {
  margin-bottom: 2.5rem; }

.mld, .mhd {
  margin-left: 40px; }

.mld-rem, .mhd-rem {
  margin-left: 2.5rem; }

.mrd, .mhd {
  margin-right: 40px; }

.mrd-rem, .mhd-rem {
  margin-right: 2.5rem; }

.mx {
  margin: 10px; }

.mtx, .mvx {
  margin-top: 10px; }

.mtx-rem, .mvx-rem {
  margin-top: 0.625rem; }

.mbx, .mvx {
  margin-bottom: 10px; }

.mbx-rem, .mvx-rem {
  margin-bottom: 0.625rem; }

.mlx, .mhx {
  margin-left: 10px; }

.mlx-rem, .mhx-rem {
  margin-left: 0.625rem; }

.mrx, .mhx {
  margin-right: 10px; }

.mrx-rem, .mhx-rem {
  margin-right: 0.625rem; }

.p {
  padding: 20px; }

.pt, .pv {
  padding-top: 20px; }

.pt-rem, .pv-rem {
  padding-top: 1.25rem; }

.pb, .pv {
  padding-bottom: 20px; }

.pb-rem, .pv-rem {
  padding-bottom: 1.25rem; }

.pl, .ph {
  padding-left: 20px; }

.pl-rem, .ph-rem {
  padding-left: 1.25rem; }

.pr, .ph {
  padding-right: 20px; }

.pr-rem, .ph-rem {
  padding-right: 1.25rem; }

.pd {
  padding: 40px; }

.ptd, .pvd {
  padding-top: 40px; }

.ptd-rem, .pvd-rem {
  padding-top: 2.5rem; }

.pbd, .pvd {
  padding-bottom: 40px; }

.pbd-rem, .pvd-rem {
  padding-bottom: 2.5rem; }

.pld, .phd {
  padding-left: 40px; }

.pld-rem, .phd-rem {
  padding-left: 2.5rem; }

.prd, .phd {
  padding-right: 40px; }

.prd-rem, .phd-rem {
  padding-right: 2.5rem; }

.px {
  padding: 10px; }

.ptx, .pvx {
  padding-top: 10px; }

.ptx-rem, .pvx-rem {
  padding-top: 0.625rem; }

.pbx, .pvx {
  padding-bottom: 10px; }

.pbx-rem, .pvx-rem {
  padding-bottom: 0.625rem; }

.plx, .phx {
  padding-left: 10px; }

.plx-rem, .phx-rem {
  padding-left: 0.625rem; }

.prx, .phx {
  padding-right: 10px; }

.prx-rem, .phx-rem {
  padding-right: 0.625rem; }

.h {
  display: none !important;
  visibility: hidden; }

.hv {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.hv-focusable:active, .hv-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.hi {
  visibility: hidden; }

.fl {
  float: left;
  _display: inline; }

.fr {
  float: right;
  _display: inline; }

.fc {
  *zoom: 1; }
  .fc:before, .fc:after {
    content: " ";
    display: table; }
  .fc:after {
    clear: both; }
