/*! Elements
    ============================================================================= */
.size-m {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-width: 1px;
  border-radius: 3px; }

.size-m-b {
  padding: 7px 13px;
  font-size: 14px;
  line-height: 1.42857;
  border-width: 0;
  border-radius: 3px; }

.size-m-bh {
  padding: 7px 0;
  font-size: 14px;
  line-height: 1.42857;
  border-width: 0;
  border-radius: 3px; }

.size-l {
  padding: 10px 16px;
  font-size: 19px;
  line-height: 1.34;
  border-width: 1px;
  border-radius: 3px; }

.size-l-b {
  padding: 11px 17px;
  font-size: 19px;
  line-height: 1.34;
  border-width: 0;
  border-radius: 3px; }

.size-l-bh {
  padding: 11px 0;
  font-size: 19px;
  line-height: 1.34;
  border-width: 0;
  border-radius: 3px; }

.size-xl {
  padding: 13px 22px;
  font-size: 23px;
  line-height: 1.34;
  border-width: 1px;
  border-radius: 3px; }

.size-xl-b {
  padding: 14px 23px;
  font-size: 23px;
  line-height: 1.34;
  border-width: 0;
  border-radius: 3px; }

.size-xl-bh {
  padding: 14px 0;
  font-size: 23px;
  line-height: 1.34;
  border-width: 0;
  border-radius: 3px; }

.size-s {
  padding: 4px 9px;
  font-size: 12px;
  line-height: 1.5;
  border-width: 1px;
  border-radius: 3px; }

.size-s-b {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-width: 0;
  border-radius: 3px; }

.size-s-bh {
  padding: 5px 0;
  font-size: 12px;
  line-height: 1.5;
  border-width: 0;
  border-radius: 3px; }

.size-xs {
  padding: 2px 6px;
  font-size: 12px;
  line-height: 1.5;
  border-width: 1px;
  border-radius: 3px; }

.size-xs-b {
  padding: 3px 7px;
  font-size: 12px;
  line-height: 1.5;
  border-width: 0;
  border-radius: 3px; }

.size-xs-bh {
  padding: 3px 0;
  font-size: 12px;
  line-height: 1.5;
  border-width: 0;
  border-radius: 3px; }

.margin-m {
  margin: 20px; }

.margin-top-m, .margin-vertical-m {
  margin-top: 20px; }

.margin-top-m-rem, .margin-vertical-m-rem {
  margin-top: 1.25rem; }

.margin-bottom-m, .margin-vertical-m {
  margin-bottom: 20px; }

.margin-bottom-m-rem, .margin-vertical-m-rem {
  margin-bottom: 1.25rem; }

.margin-left-m, .margin-horizontal-m {
  margin-left: 20px; }

.margin-left-m-rem, .margin-horizontal-m-rem {
  margin-left: 1.25rem; }

.margin-right-m, .margin-horizontal-m {
  margin-right: 20px; }

.margin-right-m-rem, .margin-horizontal-m-rem {
  margin-right: 1.25rem; }

.margin-d {
  margin: 40px; }

.margin-top-d, .margin-vertical-d {
  margin-top: 40px; }

.margin-top-d-rem, .margin-vertical-d-rem {
  margin-top: 2.5rem; }

.margin-bottom-d, .margin-vertical-d {
  margin-bottom: 40px; }

.margin-bottom-d-rem, .margin-vertical-d-rem {
  margin-bottom: 2.5rem; }

.margin-left-d, .margin-horizontal-d {
  margin-left: 40px; }

.margin-left-d-rem, .margin-horizontal-d-rem {
  margin-left: 2.5rem; }

.margin-right-d, .margin-horizontal-d {
  margin-right: 40px; }

.margin-right-d-rem, .margin-horizontal-d-rem {
  margin-right: 2.5rem; }

.margin-x {
  margin: 10px; }

.margin-top-x, .margin-vertical-x {
  margin-top: 10px; }

.margin-top-x-rem, .margin-vertical-x-rem {
  margin-top: 0.625rem; }

.margin-bottom-x, .margin-vertical-x {
  margin-bottom: 10px; }

.margin-bottom-x-rem, .margin-vertical-x-rem {
  margin-bottom: 0.625rem; }

.margin-left-x, .margin-horizontal-x {
  margin-left: 10px; }

.margin-left-x-rem, .margin-horizontal-x-rem {
  margin-left: 0.625rem; }

.margin-right-x, .margin-horizontal-x {
  margin-right: 10px; }

.margin-right-x-rem, .margin-horizontal-x-rem {
  margin-right: 0.625rem; }

.padding-p {
  padding: 20px; }

.padding-top-p, .padding-vertical-p {
  padding-top: 20px; }

.padding-top-p-rem, .padding-vertical-p-rem {
  padding-top: 1.25rem; }

.padding-bottom-p, .padding-vertical-p {
  padding-bottom: 20px; }

.padding-bottom-p-rem, .padding-vertical-p-rem {
  padding-bottom: 1.25rem; }

.padding-left-p, .padding-horizontal-p {
  padding-left: 20px; }

.padding-left-p-rem, .padding-horizontal-p-rem {
  padding-left: 1.25rem; }

.padding-right-p, .padding-horizontal-p {
  padding-right: 20px; }

.padding-right-p-rem, .padding-horizontal-p-rem {
  padding-right: 1.25rem; }

.padding-d {
  padding: 40px; }

.padding-top-d, .padding-vertical-d {
  padding-top: 40px; }

.padding-top-d-rem, .padding-vertical-d-rem {
  padding-top: 2.5rem; }

.padding-bottom-d, .padding-vertical-d {
  padding-bottom: 40px; }

.padding-bottom-d-rem, .padding-vertical-d-rem {
  padding-bottom: 2.5rem; }

.padding-left-d, .padding-horizontal-d {
  padding-left: 40px; }

.padding-left-d-rem, .padding-horizontal-d-rem {
  padding-left: 2.5rem; }

.padding-right-d, .padding-horizontal-d {
  padding-right: 40px; }

.padding-right-d-rem, .padding-horizontal-d-rem {
  padding-right: 2.5rem; }

.padding-x {
  padding: 10px; }

.padding-top-x, .padding-vertical-x {
  padding-top: 10px; }

.padding-top-x-rem, .padding-vertical-x-rem {
  padding-top: 0.625rem; }

.padding-bottom-x, .padding-vertical-x {
  padding-bottom: 10px; }

.padding-bottom-x-rem, .padding-vertical-x-rem {
  padding-bottom: 0.625rem; }

.padding-left-x, .padding-horizontal-x {
  padding-left: 10px; }

.padding-left-x-rem, .padding-horizontal-x-rem {
  padding-left: 0.625rem; }

.padding-right-x, .padding-horizontal-x {
  padding-right: 10px; }

.padding-right-x-rem, .padding-horizontal-x-rem {
  padding-right: 0.625rem; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.visually-hidden-focusable:active, .visually-hidden-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.invisible {
  visibility: hidden; }

.float-left {
  float: left;
  _display: inline; }

.float-right {
  float: right;
  _display: inline; }

.clear-float {
  *zoom: 1; }
  .clear-float:before, .clear-float:after {
    content: " ";
    display: table; }
  .clear-float:after {
    clear: both; }

.background-primary {
  background: #428bca; }

.background-success {
  background: #5cb85c; }

.background-info {
  background: #5bc0de; }

.background-warning {
  background: #f0ad4e; }

.background-danger {
  background: #d9534f; }

.background-common {
  background: #fff; }

.background-gray-darker {
  background: #222222; }

.background-gray-dark {
  background: #333333; }

.background-gray {
  background: #555555; }

.background-gray-light {
  background: #999999; }

.background-gray-lighter {
  background: #eeeeee; }

.foreground-primary {
  color: #428bca; }
  .foreground-primary a {
    color: #428bca;
    font-weight: 700;
    margin-left: 1px;
    margin-right: 1px; }

.foreground-success {
  color: #5cb85c; }
  .foreground-success a {
    color: #5cb85c;
    font-weight: 700;
    margin-left: 1px;
    margin-right: 1px; }

.foreground-info {
  color: #5bc0de; }
  .foreground-info a {
    color: #5bc0de;
    font-weight: 700;
    margin-left: 1px;
    margin-right: 1px; }

.foreground-warning {
  color: #f0ad4e; }
  .foreground-warning a {
    color: #f0ad4e;
    font-weight: 700;
    margin-left: 1px;
    margin-right: 1px; }

.foreground-danger {
  color: #d9534f; }
  .foreground-danger a {
    color: #d9534f;
    font-weight: 700;
    margin-left: 1px;
    margin-right: 1px; }

.foreground-text {
  color: #333333; }
  .foreground-text a {
    color: #333333;
    font-weight: 700;
    margin-left: 1px;
    margin-right: 1px; }

.foreground-quiet {
  color: #999999; }
  .foreground-quiet a {
    color: #999999;
    font-weight: 700;
    margin-left: 1px;
    margin-right: 1px; }

.foreground-loud {
  color: #333333; }
  .foreground-loud a {
    color: #333333;
    font-weight: 700;
    margin-left: 1px;
    margin-right: 1px; }

.foreground-link {
  color: #428bca; }
  .foreground-link a {
    color: #428bca;
    font-weight: 700;
    margin-left: 1px;
    margin-right: 1px; }

.block {
  display: block; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-bold {
  font-weight: bold; }

.text-italic {
  font-style: italic; }

.text-underline {
  text-decoration: underline; }

.text-del {
  text-decoration: line-through; }

.text-large {
  font-size: 19px; }

.text-small {
  font-size: 12px; }

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.separator-line {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  width: 1px;
  text-indent: 10000px;
  margin: -0.09em 0.5em 0;
  line-height: 1;
  background-color: #999999;
  overflow: hidden; }

.triangle-b {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 0;
  height: 0;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  *top: 0;
  border-top: 4px solid ;
  border-right: 4px dashed transparent;
  border-left: 4px dashed transparent;
  margin-left: 2px; }

.triangle-t {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 0;
  height: 0;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  *top: 0;
  border-bottom: 4px solid ;
  border-right: 4px dashed transparent;
  border-left: 4px dashed transparent;
  margin-left: 2px; }

.triangle-l {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 0;
  height: 0;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  *top: 0;
  border-right: 4px solid ;
  border-top: 4px dashed transparent;
  border-bottom: 4px dashed transparent;
  margin-left: 2px; }

.triangle-r {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 0;
  height: 0;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  *top: 0;
  border-left: 4px solid ;
  border-top: 4px dashed transparent;
  border-bottom: 4px dashed transparent;
  margin-left: 2px; }
