/*! Elements
    ============================================================================= */
.sm {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-width: 1px;
  border-radius: 3px; }

.sm-b {
  padding: 7px 13px;
  font-size: 14px;
  line-height: 1.42857;
  border-width: 0;
  border-radius: 3px; }

.sm-bh {
  padding: 7px 0;
  font-size: 14px;
  line-height: 1.42857;
  border-width: 0;
  border-radius: 3px; }

.sl {
  padding: 10px 16px;
  font-size: 19px;
  line-height: 1.34;
  border-width: 1px;
  border-radius: 3px; }

.sl-b {
  padding: 11px 17px;
  font-size: 19px;
  line-height: 1.34;
  border-width: 0;
  border-radius: 3px; }

.sl-bh {
  padding: 11px 0;
  font-size: 19px;
  line-height: 1.34;
  border-width: 0;
  border-radius: 3px; }

.sxl {
  padding: 13px 22px;
  font-size: 23px;
  line-height: 1.34;
  border-width: 1px;
  border-radius: 3px; }

.sxl-b {
  padding: 14px 23px;
  font-size: 23px;
  line-height: 1.34;
  border-width: 0;
  border-radius: 3px; }

.sxl-bh {
  padding: 14px 0;
  font-size: 23px;
  line-height: 1.34;
  border-width: 0;
  border-radius: 3px; }

.ss {
  padding: 4px 9px;
  font-size: 12px;
  line-height: 1.5;
  border-width: 1px;
  border-radius: 3px; }

.ss-b {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-width: 0;
  border-radius: 3px; }

.ss-bh {
  padding: 5px 0;
  font-size: 12px;
  line-height: 1.5;
  border-width: 0;
  border-radius: 3px; }

.sxs {
  padding: 2px 6px;
  font-size: 12px;
  line-height: 1.5;
  border-width: 1px;
  border-radius: 3px; }

.sxs-b {
  padding: 3px 7px;
  font-size: 12px;
  line-height: 1.5;
  border-width: 0;
  border-radius: 3px; }

.sxs-bh {
  padding: 3px 0;
  font-size: 12px;
  line-height: 1.5;
  border-width: 0;
  border-radius: 3px; }

.m {
  margin: 20px; }

.mt, .mv {
  margin-top: 20px; }

.mt-rem, .mv-rem {
  margin-top: 1.25rem; }

.mb, .mv {
  margin-bottom: 20px; }

.mb-rem, .mv-rem {
  margin-bottom: 1.25rem; }

.ml, .mh {
  margin-left: 20px; }

.ml-rem, .mh-rem {
  margin-left: 1.25rem; }

.mr, .mh {
  margin-right: 20px; }

.mr-rem, .mh-rem {
  margin-right: 1.25rem; }

.md {
  margin: 40px; }

.mtd, .mvd {
  margin-top: 40px; }

.mtd-rem, .mvd-rem {
  margin-top: 2.5rem; }

.mbd, .mvd {
  margin-bottom: 40px; }

.mbd-rem, .mvd-rem {
  margin-bottom: 2.5rem; }

.mld, .mhd {
  margin-left: 40px; }

.mld-rem, .mhd-rem {
  margin-left: 2.5rem; }

.mrd, .mhd {
  margin-right: 40px; }

.mrd-rem, .mhd-rem {
  margin-right: 2.5rem; }

.mx {
  margin: 10px; }

.mtx, .mvx {
  margin-top: 10px; }

.mtx-rem, .mvx-rem {
  margin-top: 0.625rem; }

.mbx, .mvx {
  margin-bottom: 10px; }

.mbx-rem, .mvx-rem {
  margin-bottom: 0.625rem; }

.mlx, .mhx {
  margin-left: 10px; }

.mlx-rem, .mhx-rem {
  margin-left: 0.625rem; }

.mrx, .mhx {
  margin-right: 10px; }

.mrx-rem, .mhx-rem {
  margin-right: 0.625rem; }

.p {
  padding: 20px; }

.pt, .pv {
  padding-top: 20px; }

.pt-rem, .pv-rem {
  padding-top: 1.25rem; }

.pb, .pv {
  padding-bottom: 20px; }

.pb-rem, .pv-rem {
  padding-bottom: 1.25rem; }

.pl, .ph {
  padding-left: 20px; }

.pl-rem, .ph-rem {
  padding-left: 1.25rem; }

.pr, .ph {
  padding-right: 20px; }

.pr-rem, .ph-rem {
  padding-right: 1.25rem; }

.pd {
  padding: 40px; }

.ptd, .pvd {
  padding-top: 40px; }

.ptd-rem, .pvd-rem {
  padding-top: 2.5rem; }

.pbd, .pvd {
  padding-bottom: 40px; }

.pbd-rem, .pvd-rem {
  padding-bottom: 2.5rem; }

.pld, .phd {
  padding-left: 40px; }

.pld-rem, .phd-rem {
  padding-left: 2.5rem; }

.prd, .phd {
  padding-right: 40px; }

.prd-rem, .phd-rem {
  padding-right: 2.5rem; }

.px {
  padding: 10px; }

.ptx, .pvx {
  padding-top: 10px; }

.ptx-rem, .pvx-rem {
  padding-top: 0.625rem; }

.pbx, .pvx {
  padding-bottom: 10px; }

.pbx-rem, .pvx-rem {
  padding-bottom: 0.625rem; }

.plx, .phx {
  padding-left: 10px; }

.plx-rem, .phx-rem {
  padding-left: 0.625rem; }

.prx, .phx {
  padding-right: 10px; }

.prx-rem, .phx-rem {
  padding-right: 0.625rem; }

.h {
  display: none !important;
  visibility: hidden; }

.hv {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.hv-focusable:active, .hv-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.hi {
  visibility: hidden; }

.fl {
  float: left;
  _display: inline; }

.fr {
  float: right;
  _display: inline; }

.fc {
  *zoom: 1; }
  .fc:before, .fc:after {
    content: " ";
    display: table; }
  .fc:after {
    clear: both; }

.bg-primary {
  background: #428bca; }

.bg-success {
  background: #5cb85c; }

.bg-info {
  background: #5bc0de; }

.bg-warning {
  background: #f0ad4e; }

.bg-danger {
  background: #d9534f; }

.bg-common {
  background: #fff; }

.bg-gray-darker {
  background: #222222; }

.bg-gray-dark {
  background: #333333; }

.bg-gray {
  background: #555555; }

.bg-gray-light {
  background: #999999; }

.bg-gray-lighter {
  background: #eeeeee; }

.fg-primary {
  color: #428bca; }
  .fg-primary a {
    color: #428bca;
    font-weight: 700;
    margin-left: 1px;
    margin-right: 1px; }

.fg-success {
  color: #5cb85c; }
  .fg-success a {
    color: #5cb85c;
    font-weight: 700;
    margin-left: 1px;
    margin-right: 1px; }

.fg-info {
  color: #5bc0de; }
  .fg-info a {
    color: #5bc0de;
    font-weight: 700;
    margin-left: 1px;
    margin-right: 1px; }

.fg-warning {
  color: #f0ad4e; }
  .fg-warning a {
    color: #f0ad4e;
    font-weight: 700;
    margin-left: 1px;
    margin-right: 1px; }

.fg-danger {
  color: #d9534f; }
  .fg-danger a {
    color: #d9534f;
    font-weight: 700;
    margin-left: 1px;
    margin-right: 1px; }

.fg-text {
  color: #333333; }
  .fg-text a {
    color: #333333;
    font-weight: 700;
    margin-left: 1px;
    margin-right: 1px; }

.fg-quiet {
  color: #999999; }
  .fg-quiet a {
    color: #999999;
    font-weight: 700;
    margin-left: 1px;
    margin-right: 1px; }

.fg-loud {
  color: #333333; }
  .fg-loud a {
    color: #333333;
    font-weight: 700;
    margin-left: 1px;
    margin-right: 1px; }

.fg-link {
  color: #428bca; }
  .fg-link a {
    color: #428bca;
    font-weight: 700;
    margin-left: 1px;
    margin-right: 1px; }

.db {
  display: block; }

.di {
  display: inline; }

.dib {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.tl {
  text-align: left; }

.tr {
  text-align: right; }

.tc {
  text-align: center; }

.tb {
  font-weight: bold; }

.ti {
  font-style: italic; }

.tu {
  text-decoration: underline; }

.td {
  text-decoration: line-through; }

.tp {
  font-size: 19px; }

.tm {
  font-size: 12px; }

.to {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.sl {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  width: 1px;
  text-indent: 10000px;
  margin: -0.09em 0.5em 0;
  line-height: 1;
  background-color: #999999;
  overflow: hidden; }

.ar-b {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 0;
  height: 0;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  *top: 0;
  border-top: 4px solid ;
  border-right: 4px dashed transparent;
  border-left: 4px dashed transparent;
  margin-left: 2px; }

.ar-t {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 0;
  height: 0;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  *top: 0;
  border-bottom: 4px solid ;
  border-right: 4px dashed transparent;
  border-left: 4px dashed transparent;
  margin-left: 2px; }

.ar-l {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 0;
  height: 0;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  *top: 0;
  border-right: 4px solid ;
  border-top: 4px dashed transparent;
  border-bottom: 4px dashed transparent;
  margin-left: 2px; }

.ar-r {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 0;
  height: 0;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  *top: 0;
  border-left: 4px solid ;
  border-top: 4px dashed transparent;
  border-bottom: 4px dashed transparent;
  margin-left: 2px; }
