/*! Scaffolding
    ============================================================================= */
body {
  font: 14px/1.42857 Georgia, "Times New Roman", Times, serif;
  color: #333333;
  background: #fff; }

a {
  text-decoration: none;
  color: #428bca; }
  a:focus, a:hover {
    color: #2a6496;
    text-decoration: underline; }

hr {
  margin-top: 20.0px;
  margin-bottom: 20.0px;
  border: 0;
  border-top: 1px solid #d7d7d7; }

::placeholder {
  color: #999999; }
