@charset "utf-8";

@mixin test_helpers_inline-block {

    @include test('   mixin: inline-block') {

        @include assert('若不传入任何参数，则只设置 display 为 inline-block') {
            @include output {
                @include inline-block();
            }

            @include expect {
                display: inline-block;
            }
        }

        @include assert('若声明垂直对齐方向，则除设置 display 之外，还额外设置 vertical-align 为所指定的值') {
            @include output {
                @include inline-block(middle);
            }

            @include expect {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}
