@charset "utf-8";

@mixin test_helpers_opacity {
    $__support-for-ie8: if(variable_exists(support-for-ie8), $support-for-ie8, '#undefined');

    @include test('   mixin: opacity') {

        $support-for-ie8: false !global;

        @include assert('设置 opacity 为所传入的值') {
            @include output {
                @include opacity(0.2);
            }

            @include expect {
                opacity: 0.2;
            }
        }

        $support-for-ie8: true !global;

        @include assert('支持 IE8 时，通过 filter 属性实现不透明度') {
            @include output {
                @include opacity(0.2);
            }

            @include expect {
                opacity: 0.2;
                filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
            }
        }

        @include test('   mixin: transparent') {

            $support-for-ie8: false !global;

            @include assert('调用该混入类，设置元素为全透明') {
                @include output {
                    @include transparent;
                }

                @include expect {
                    opacity: 0;
                }
            }
        }

        @include test('   mixin: opaque') {

            $support-for-ie8: false !global;

            @include assert('调用该混入类，设置元素为全不透明') {
                @include output {
                    @include opaque;
                }

                @include expect {
                    opacity: 1;
                }
            }
        }

    }

    @if ($__support-for-ie8 != '#undefined') {
        $support-for-ie8: $__support-for-ie8 !global;
    }
}
