@charset "utf-8";

@mixin test_helpers_translucent-bgcolor {
    $__support-for-ie8: if(variable_exists(support-for-ie8), $support-for-ie8, '#undefined');

    @include test('   mixin: translucent-bgcolor') {

        $support-for-ie8: false !global;

        @include assert('使用 rgba 类型的色值') {
            @include output {
                @include translucent-bgcolor(rgba(0, 0, 0, 0.2));
            }

            @include expect {
                background: rgba(0, 0, 0, 0.2);
            }
        }

        @include assert('使用 rgb 类型的色值，并单独指定不透明度') {
            @include output {
                @include translucent-bgcolor(#000, 0.2);
            }

            @include expect {
                background: rgba(0, 0, 0, 0.2);
            }
        }

        $support-for-ie8: true !global;

        @include assert('支持 IE8 时，额外设置 zoom 属性及 filter 属性') {
            @include output {
                @include translucent-bgcolor(rgba(0, 0, 0, 0.2));
            }

            @include expect {
                background: rgba(0, 0, 0, 0.2);
                zoom: 1\9;
                filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#33000000', EndColorStr='#33000000');
            }
        }

    }

    @if ($__support-for-ie8 != '#undefined') {
        $support-for-ie8: $__support-for-ie8 !global;
    }
}
