@charset "utf-8";

@mixin test_helpers_triangle_expect-basis {
    @include inline-block;
    @include size(0);
    @include hide-text;
}

@mixin test_helpers_triangle {

    @include test('   mixin: triangle') {

        @include assert('可以只指定三角箭头的宽度，其它使用默认值') {
            @include output {
                @include triangle(10px);
            }

            @include expect {
                @include test_helpers_triangle_expect-basis;

                border-top: 10px solid;
                border-right: 10px dashed transparent;
                border-left: 10px dashed transparent;
            }
        }

        @include assert('可以通过第二个参数（$orientation）来指定箭头的朝向，如设置为 left 则指向左方') {
            @include output {
                @include triangle(10px, left);
            }

            @include expect {
                @include test_helpers_triangle_expect-basis;

                border-right: 10px solid;
                border-top: 10px dashed transparent;
                border-bottom: 10px dashed transparent;
            }
        }

        @include assert('可以通过第二个参数（$orientation）来指定箭头的朝向，如设置为 right 则指向右方') {
            @include output {
                @include triangle(10px, right);
            }

            @include expect {
                @include test_helpers_triangle_expect-basis;

                border-left: 10px solid;
                border-top: 10px dashed transparent;
                border-bottom: 10px dashed transparent;
            }
        }

        @include assert('可以通过第二个参数（$orientation）来指定箭头的朝向，如设置为 top 则指向上方') {
            @include output {
                @include triangle(10px, top);
            }

            @include expect {
                @include test_helpers_triangle_expect-basis;

                border-bottom: 10px solid;
                border-right: 10px dashed transparent;
                border-left: 10px dashed transparent;
            }
        }

        @include assert('可以通过第二个参数（$orientation）来指定箭头的朝向，如设置为 bottom 则指向下方（默认值）') {
            @include output {
                @include triangle(10px, bottom);
            }

            @include expect {
                @include test_helpers_triangle_expect-basis;

                border-top: 10px solid;
                border-right: 10px dashed transparent;
                border-left: 10px dashed transparent;
            }
        }

        @include assert('可以通过第三个参数（$color）来指定箭头的颜色') {
            @include output {
                @include triangle(10px, bottom, #000);
            }

            @include expect {
                @include test_helpers_triangle_expect-basis;

                border-top: 10px solid #000;
                border-right: 10px dashed transparent;
                border-left: 10px dashed transparent;
            }
        }
    }

}
