/*! Elements
    ============================================================================= */
.m {
  margin: 20px;
}

.mt, .mv {
  margin-top: 20px;
}

.mb, .mv {
  margin-bottom: 20px;
}

.ml, .mh {
  margin-left: 20px;
}

.mr, .mh {
  margin-right: 20px;
}

.m-l {
  margin: 40px;
}

.mt-l, .mv-l {
  margin-top: 40px;
}

.mb-l, .mv-l {
  margin-bottom: 40px;
}

.ml-l, .mh-l {
  margin-left: 40px;
}

.mr-l, .mh-l {
  margin-right: 40px;
}

.m-s {
  margin: 10px;
}

.mt-s, .mv-s {
  margin-top: 10px;
}

.mb-s, .mv-s {
  margin-bottom: 10px;
}

.ml-s, .mh-s {
  margin-left: 10px;
}

.mr-s, .mh-s {
  margin-right: 10px;
}

.p {
  padding: 20px;
}

.pt, .pv {
  padding-top: 20px;
}

.pb, .pv {
  padding-bottom: 20px;
}

.pl, .ph {
  padding-left: 20px;
}

.pr, .ph {
  padding-right: 20px;
}

.p-l {
  padding: 40px;
}

.pt-l, .pv-l {
  padding-top: 40px;
}

.pb-l, .pv-l {
  padding-bottom: 40px;
}

.pl-l, .ph-l {
  padding-left: 40px;
}

.pr-l, .ph-l {
  padding-right: 40px;
}

.p-s {
  padding: 10px;
}

.pt-s, .pv-s {
  padding-top: 10px;
}

.pb-s, .pv-s {
  padding-bottom: 10px;
}

.pl-s, .ph-s {
  padding-left: 10px;
}

.pr-s, .ph-s {
  padding-right: 10px;
}

.h {
  display: none !important;
  visibility: hidden;
}

.hv {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hv-focusable:active, .hv-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.hi {
  visibility: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.fc:before, .fc:after {
  content: "";
  display: table;
}

.fc:after {
  clear: both;
}
