@charset "utf-8";

////
/// @group add-ons
/// @author Bios Sun <biossun@gmail.com>
////

/// 设置单行文字超出时显示省略号
///
/// @example scss - source
///     .box {
///         width: 100%;
///         @include text-overflow-ellipsis();
///     }
///
/// @example css - output
///
///     .box {
///         width: 100%;
///         overflow: hidden;
///         text-overflow: ellipsis;
///         white-space: nowrap;
///     }
@mixin text-overflow-ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
