@charset "utf-8";

/// 小三角箭头样式
///
/// @param {Length} $width - 长度
/// @param {String} $orientation [bottom] - 箭头的指向方向，可选值为 [top, right, left, bottom] 四个
/// @param {Color} $color [inherit] - 箭头颜色
///
/// @example scss - source
///
///     .triangle-bottom {
///         triangle(10px, bottom, #000);
///     }
///
/// @example css - output
///
///    .triangle-bottom {
///        display: inline-block;
///
///        width: 0;
///        height: 0;
///
///        // hide text
///        color: transparent;
///        font: 0/0 a;
///        text-shadow: none;
///
///        border-top: 10px solid #000;
///        border-right: 10px dashed transparent;
///        border-left: 10px dashed transparent;
///    }
@mixin triangle($width, $orientation: bottom, $color: inherit) {
    @include inline-block;

    width: 0;
    height: 0;

    @include hide-text();

    @if $support-for-ie6 or $support-for-ie7 {
        *top: 0;
    }

    @if $color == inherit {
        $color: unquote('');
    }

    @if $orientation == bottom {
        border-top: $width solid $color;
        border-right: $width dashed transparent;
        border-left: $width dashed transparent;
    }
    @else if $orientation == top {
        border-bottom: $width solid $color;
        border-right: $width dashed transparent;
        border-left: $width dashed transparent;
    }
    @else if $orientation == right {
        border-left: $width solid $color;
        border-top: $width dashed transparent;
        border-bottom: $width dashed transparent;
    }
    @else if $orientation == left {
        border-right: $width solid $color;
        border-top: $width dashed transparent;
        border-bottom: $width dashed transparent;
    }
}
