@charset "utf-8";

////
/// @group list
/// @author Bios Sun <biossun@gmail.com>
////

// TODO: 添加单元测试

/// 移除一个列表中的值为 null 的元素
///
/// @param {List} $list - 源数据列表
///
/// @example scss
///     list-compact( (1, 2, 3) );          // --> (1, 2, 3)
///     list-compact( (1, 2, 3, null) );    // --> (1, 2, 3)
///     list-compact( (null) );             // --> ()
@function list-compact($list:()) {
    $result: ();

    @if length($list) > 0 {
        @for $i from 1 through length($list) {
            $item: nth($list, $i);

            @if $item {
                $result: append($result, $item, list-separator($list));
            }
        }
    }

    @return $result;
}
