@charset "utf-8";

// ===========================================================================================================
// 使用该混入类，将移去页面中所有元素的内外边距，边框，文字大小及行高。
// ===========================================================================================================

@mixin nojiko-exhaustive() {
    body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
    pre,code,form,fieldset,legend,input,textarea,p,
    blockquote,th,td,hr,button,article,aside,details,
    figcaption,figure,footer,header,hgroup,menu,nav,section {
        margin:0;padding:0;
    }

    h1, h2, h3, h4, h5, h6, big, small {
        font: inherit;
        font-size: 100%;
        vertical-align: baseline;
    }

    ol, ul {
        list-style: none;
    }
}
