@charset "utf-8";

@mixin test_helpers_map-deep-get {

    @include test('function: map-deep-get') {

        $map: (
            user: (
                name: (
                    first-name: 'bios',
                    last-name: 'sun'
                ),
                sex: 1
            )
    );

        @include assert-equal(
            map-deep-get($map, user name first-name),
            'bios',
            '获取简单类型的值'
        );

        @include assert-equal(
            map-deep-get($map, user sex),
            1,
            '获取简单类型的值'
        );

        @include assert-equal(
            map-deep-get($map, user name),
            ( first-name: 'bios', last-name: 'sun' ),
            '获取复合类型的值'
        );

        @include assert-equal(
            map-deep-get($map, user birthday),
            null,
            '获取不存在的值，则返回 null'
        );

        @include assert-equal(
            map-deep-get($map),
            $map,
            '若不指定任何 kay，则返回原始数据'
        );

    }

}
