@charset "UTF-8";
/**
 * 使用 SVG 背景图片来模拟实现超细边框
 * @param $colors {<Color>} 四个边框颜色，支持缩写
 */
/*
 * 使用 SVG 背景图片来模拟实现顶部超细边框
 * @param $color {Color} 边框颜色
 */
/*
 * 使用 SVG 背景图片来模拟实现底部超细边框
 * @param $color {Color} 边框颜色
 */
/*
 * 使用 SVG 背景图片来模拟实现左边超细边框
 * @param $color {Color} 边框颜色
 */
/*
 * 使用 SVG 背景图片来模拟实现右边超细边框
 * @param $color {Color} 边框颜色
 */
/*
 * 使用 SVG 背景图片来模拟实现顶部及底部超细边框
 * @param $color {Color} 边框颜色
 */
/*
 * 使用 SVG 背景图片来模拟实现左边及右边超细边框
 * @param $color {Color} 边框颜色
 */
.sidebar-nav-list .item-type, .document .item-access, .document .item-type, .document .item-value, .document .item-parameter-type, .document .item-parameter-default, .document .item-return-type {
  display: inline;
  padding: .2em 1em .2em;
  font-size: 75%;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 100px;
}

.sidebar-nav-list .item-type {
  display: inline-block;
  margin-right: 3px;
  padding: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-transform: uppercase;
  background: rgba(170, 170, 170, 0.9);
}

.sidebar-nav-list [data-type=mixin].item-type {
  background: rgba(74, 142, 93, 0.9);
}

.sidebar-nav-list [data-type=function].item-type {
  background: rgba(56, 126, 191, 0.9);
}

.sidebar-nav-list [data-type=variable].item-type {
  background: rgba(206, 146, 49, 0.9);
}

.sidebar-nav-list [data-type=placeholder].item-type {
  background: rgba(204, 71, 148, 0.9);
}

/*! Rio - v0.2.3 - Bios Sun <biossun@gmail.com> - https://github.com/BiosSun/rio
    ========================================================================== */
.document small, .document tfoot {
  font-size: 90%;
  color: #999;
}

.document h1, .document h2, .document h3, .document h4, .document h5, .document h6,
.document p, .document pre, .document ul, .document ol, .document dl, .document table, .document form, .document hr,
.document .document-block {
  margin-top: 1.27em;
  margin-bottom: 1.27em;
}

.document {
  font-size: 14px;
  line-height: 1.75;
}

.document > *:first-child {
  margin-top: 0;
}

.document > *:last-child {
  margin-bottom: 0;
}

.document address, .document caption, .document cite, .document code, .document em, .document th, .document dfn, .document var {
  font-weight: 400;
}

.document code, .document pre, .document var {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.document a {
  text-decoration: none;
}

.document a:hover {
  border-bottom: 1px solid;
  text-decoration: none;
}

.document a:focus {
  outline: 1px dotted #999;
  text-decoration: none;
}

.document a:hover {
  color: black;
}

.document a:focus {
  color: black;
}

.document a:active {
  color: black;
}

.document b, .document strong {
  font-weight: 700;
}

.document i, .document em {
  font-style: italic;
  margin-right: 0.2em;
}

.document sup, .document sub {
  font-size: .75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  vertical-align: text-top\9;
  margin-right: 0.2em;
}

.document sup {
  top: -0.5em;
}

.document sub {
  bottom: -0.25em;
}

.document mark {
  background: #fffda0;
  padding: 1px 0;
}

.document abbr {
  cursor: help;
  border-bottom: 1px dotted;
}

.document q {
  color: #999;
}

.document code {
  font-size: 0.8em;
  background: #f7f7f7;
  padding: 0.3em 0.5em;
  border-radius: 0.3em;
  vertical-align: middle;
  white-space: nowrap;
}

.document img {
  max-width: 100%;
  vertical-align: middle;
}

.document h1, .document h2, .document h3, .document h4, .document h5, .document h6 {
  font-weight: 500;
  line-height: 1.5em;
  margin-top: 1.2em;
  margin-bottom: 0.8em;
}

.document h1 a, .document h2 a, .document h3 a, .document h4 a, .document h5 a, .document h6 a {
  color: inherit;
  border-bottom: 1px dotted;
}

.document h1 a:hover, .document h1 a:focus, .document h2 a:hover, .document h2 a:focus, .document h3 a:hover, .document h3 a:focus, .document h4 a:hover, .document h4 a:focus, .document h5 a:hover, .document h5 a:focus, .document h6 a:hover, .document h6 a:focus {
  text-decoration: none;
  color: #211F22;
}

.document h1 small, .document h2 small, .document h3 small, .document h4 small, .document h5 small, .document h6 small {
  font-size: 70%;
}

.document h1 {
  font-size: 2.2em;
}

.document h2 {
  font-size: 1.8em;
}

.document h3 {
  font-size: 1.4em;
}

.document h4 {
  font-size: 1.2em;
}

.document h5 {
  font-size: 1em;
}

.document h6 {
  font-size: 0.9em;
}

.document ul, .document ol, .document dd {
  margin-left: 2em;
  padding-left: 0;
}

.document ol {
  list-style: decimal;
}

.document ul {
  list-style: disc;
}

.document li, .document dd {
  padding: 0.17em 0;
}

.document li ul, .document li ol {
  padding: 0.17em 0 0;
  margin-top: 0;
  margin-bottom: 0;
}

.document li ul {
  list-style: circle;
}

.document table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  text-align: left;
  border-top: 1px solid #f0f0f0;
  background: #fafafa;
}

.document thead tr, .document tr:hover {
  background: #f0f0f0;
}

.document th, .document td {
  padding: 0.7em 1.4em 0.7em 0;
  border-bottom: 1px solid #f0f0f0;
  _padding: 0.7em 1.4em;
}

.document th:first-child, .document td:first-child {
  padding-left: 1.4em;
}

.document th {
  font-weight: 700;
}

.document pre code {
  display: block;
  padding: 1em 1.2em;
  background: #fafafa;
  white-space: pre;
  overflow: auto;
  line-height: 1.48;
}

.document blockquote {
  border-left: 0.4em solid #f0f0f0;
  background: #fafafa;
  margin-left: 0;
  margin-right: 0;
  padding: 1em 1.2em;
  color: #999;
}

.document hr {
  height: 0;
  border: 0 none;
  border-bottom: 1px solid #f0f0f0;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

body {
  font: 14px/1.428571429 arial, sans-serif;
  color: #444;
  background: #fff;
}

a {
  text-decoration: none;
  color: #211F22;
}

a:focus, a:hover {
  color: black;
  text-decoration: underline;
}

img {
  vertical-align: middle;
}

hr {
  margin-top: 20.000000006px;
  margin-bottom: 20.000000006px;
  border: 0;
  border-top: 1px solid #f0f0f0;
}

::-webkit-input-placeholder {
  color: #aaaaaa;
}

::-moz-placeholder {
  color: #aaaaaa;
}

:-ms-input-placeholder {
  color: #aaaaaa;
}

::placeholder {
  color: #aaaaaa;
}

.disable-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.content-wrapper {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.document {
  margin-left: 270px;
  overflow-x: hidden;
}

.document .item-name code, .document .item-parameter-name code, .document .item-parameter-default code, .document .item-requires .require-type, .document .item-requires .require-name code {
  font-size: inherit;
  background: transparent;
  padding: 0;
  border-radius: 0;
  vertical-align: baseline;
}

.document .item-access, .document .item-type, .document .item-value, .document .item-parameter-type, .document .item-parameter-default, .document .item-return-type {
  border: 1px solid #444;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.document .item-access, .document .item-type, .document .item-value {
  font-size: .5em;
  font-weight: 300;
}

.document .tagline {
  color: #aaa;
  margin-bottom: 30px;
}

.document .fragment {
  margin-top: 50px;
  margin-bottom: 60px;
}

.document .group-header {
  background: #fafafa;
  margin-left: -10000px;
  margin-right: -10000px;
  padding: 20px 10000px;
}

.document .group-name {
  margin: 0;
}

.document .type-header {
  border-bottom: 1px dashed #e0e0e0;
  padding: 20px 10000px;
  margin: 50px -10000px 70px;
}

.document .type-name {
  margin: 0;
}

.document .item {
  margin: 70px 0;
}

.document .item .sub-heading {
  padding-bottom: 0.6em;
  border-bottom: 1px dashed #e0e0e0;
}

.document .item-name {
  display: block;
  font-size: 2em;
}

.document .item-source-link {
  color: #aaa;
  float: right;
  font-size: 12px;
  border: none;
}

.document .item-source-link:hover, .document .item-source-link:focus {
  border: none;
}

.document .item-source-link:visible {
  color: #aaa;
}

.document .item-access {
  color: #aaa;
  border-color: #aaa;
  text-transform: capitalize;
}

.document .item-aliased {
  font-size: 12px;
}

.document .item-types {
  white-space: nowrap;
}

.document .item-type {
  color: #c1a95f;
  border-color: #c1a95f;
  margin-left: 10px;
}

.document .item-value {
  color: #4797c3;
  border-color: #4797c3;
  margin-left: 10px;
}

.document .item.deprecated {
  opacity: .6;
}

.document .item.deprecated .item-name-text {
  text-decoration: line-through;
}

.document .item-deprecated {
  color: #BD2525;
}

.document .item-parameter-name {
  margin-right: .4em;
}

.document .item-parameter-name code {
  font-weight: 700;
}

.document .item-parameter-type {
  color: #c1a95f;
  border-color: #c1a95f;
}

.document .item-parameter-default {
  color: #4797c3;
  border-color: #4797c3;
}

.document .item-return-type {
  color: #c1a95f;
  border-color: #c1a95f;
  margin-left: .4em;
}

.document .item-requires .require-type {
  display: inline-block;
  width: 1em;
  text-align: center;
  color: #aaa;
  text-transform: uppercase;
}

.document .item-example-paratactic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0;
  border-radius: 6px;
  background: #f7f7f7;
  overflow: hidden;
}

.document .item-example-paratactic .item-example {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.document .item-example-paratactic .item-example-left {
  border-right: 1px dashed #ccc;
}

.document .item-example-paratactic .example-description {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 1px .7em;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.2);
}

.document .item-example-paratactic .example-description > * {
  display: inline;
}

.document .item-example-paratactic .example-code {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.document .item-example-paratactic .example-code > code {
  background: transparent;
  overflow: visible;
}

.document .footer {
  color: #aaa;
  border-top: 1px solid #f0f0f0;
  margin-top: 40px;
  padding: 20px 0;
  font-size: 12px;
}

.document .footer:before, .document .footer:after {
  content: " ";
  display: table;
}

.document .footer:after {
  clear: both;
}

.document .footer a {
  color: #aaa;
}

.document .footer .copyright {
  float: left;
}

.document .footer .watermark {
  float: right;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 270px;
}

.sidebar-body {
  height: 100%;
  border-right: 1px solid #f0f0f0;
  background: #fff;
  overflow: scroll;
  overflow-x: hidden;
}

.sidebar-nav-list {
  margin: 0;
  padding: 0;
}

.sidebar-nav-list .item {
  display: block;
}

.sidebar-nav-list .item-body {
  position: relative;
  margin: -1px 0;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.sidebar-nav-list .item-body:before, .sidebar-nav-list .item-body:after {
  content: " ";
  display: table;
}

.sidebar-nav-list .item-body:after {
  clear: both;
}

.sidebar-nav-list .item-content {
  display: block;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-nav-list .item-content:hover {
  text-decoration: none;
}

.sidebar-nav-list .item-toggle {
  float: right;
  width: 38px;
  height: 38px;
  font-size: 11.4px;
  line-height: 38px;
  text-align: center;
  border-left: 1px solid #f0f0f0;
}

.sidebar-nav-list .item-toggle .fa {
  display: none;
}

.sidebar-nav-list .item-toggle:hover {
  background: #fafafa;
  text-decoration: none;
}

.sidebar-nav-list .item-toggle:focus {
  text-decoration: none;
  outline: 1px dashed #f0f0f0;
}

.sidebar-nav-list .item.opened .item-toggle .icon-opened {
  display: inline;
}

.sidebar-nav-list .item.closed .item-toggle .icon-closed {
  display: inline;
}

.sidebar-nav-list .item.high > .item-body > .item-content {
  color: #4797c3;
}

.sidebar-nav-group-list > .item > .item-content {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.34;
}

.sidebar-handle {
  position: absolute;
  top: 0;
  bottom: 0;
  background: #fff;
  border-right: 1px solid #f0f0f0;
  opacity: 0;
  cursor: col-resize;
  -webkit-transition: all 0.1s ease-in 0.1s;
  transition: all 0.1s ease-in 0.1s;
  width: 10px;
  right: -10px;
}

.sidebar-handle > .icon {
  width: 10px;
  height: 10px;
  font-size: 6px;
  line-height: 10px;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-top: -5px;
}

.sidebar-handle:after {
  content: ' ';
  position: absolute;
  top: 0;
  right: -8px;
  bottom: 0;
  left: -8px;
  z-index: 1;
}

.sidebar-handle > .icon {
  text-align: center;
  color: #aaa;
  -webkit-transition: all 0.1s ease-in 0.1s;
  transition: all 0.1s ease-in 0.1s;
}

.sidebar-handle:hover, .sidebar-handle.on {
  width: 16px;
  right: -16px;
  opacity: 0.9;
}

.sidebar-handle:hover > .icon, .sidebar-handle.on > .icon {
  width: 16px;
  height: 16px;
  font-size: 9.6px;
  line-height: 16px;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-top: -8px;
}

.sidebar-handle.on > .icon {
  color: #444;
}

.sm {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-width: 1px;
  border-radius: 3px;
}

.sm-b {
  padding: 7px 13px;
  font-size: 14px;
  line-height: 1.428571429;
  border-width: 0;
  border-radius: 3px;
}

.sm-bh {
  padding: 7px 0;
  font-size: 14px;
  line-height: 1.428571429;
  border-width: 0;
  border-radius: 3px;
}

.sl {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.34;
  border-width: 1px;
  border-radius: 3px;
}

.sl-b {
  padding: 11px 17px;
  font-size: 18px;
  line-height: 1.34;
  border-width: 0;
  border-radius: 3px;
}

.sl-bh {
  padding: 11px 0;
  font-size: 18px;
  line-height: 1.34;
  border-width: 0;
  border-radius: 3px;
}

.sxl {
  padding: 13px 22px;
  font-size: 22px;
  line-height: 1.34;
  border-width: 1px;
  border-radius: 3px;
}

.sxl-b {
  padding: 14px 23px;
  font-size: 22px;
  line-height: 1.34;
  border-width: 0;
  border-radius: 3px;
}

.sxl-bh {
  padding: 14px 0;
  font-size: 22px;
  line-height: 1.34;
  border-width: 0;
  border-radius: 3px;
}

.ss {
  padding: 4px 9px;
  font-size: 12px;
  line-height: 1.5;
  border-width: 1px;
  border-radius: 3px;
}

.ss-b {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-width: 0;
  border-radius: 3px;
}

.ss-bh {
  padding: 5px 0;
  font-size: 12px;
  line-height: 1.5;
  border-width: 0;
  border-radius: 3px;
}

.sxs {
  padding: 2px 6px;
  font-size: 12px;
  line-height: 1.5;
  border-width: 1px;
  border-radius: 3px;
}

.sxs-b {
  padding: 3px 7px;
  font-size: 12px;
  line-height: 1.5;
  border-width: 0;
  border-radius: 3px;
}

.sxs-bh {
  padding: 3px 0;
  font-size: 12px;
  line-height: 1.5;
  border-width: 0;
  border-radius: 3px;
}

.m {
  margin: 20px;
}

.mt, .mv {
  margin-top: 20px;
}

.mt-rem, .mv-rem {
  margin-top: 1.25rem;
}

.mb, .mv {
  margin-bottom: 20px;
}

.mb-rem, .mv-rem {
  margin-bottom: 1.25rem;
}

.ml, .mh {
  margin-left: 20px;
}

.ml-rem, .mh-rem {
  margin-left: 1.25rem;
}

.mr, .mh {
  margin-right: 20px;
}

.mr-rem, .mh-rem {
  margin-right: 1.25rem;
}

.md {
  margin: 40px;
}

.mtd, .mvd {
  margin-top: 40px;
}

.mtd-rem, .mvd-rem {
  margin-top: 2.5rem;
}

.mbd, .mvd {
  margin-bottom: 40px;
}

.mbd-rem, .mvd-rem {
  margin-bottom: 2.5rem;
}

.mld, .mhd {
  margin-left: 40px;
}

.mld-rem, .mhd-rem {
  margin-left: 2.5rem;
}

.mrd, .mhd {
  margin-right: 40px;
}

.mrd-rem, .mhd-rem {
  margin-right: 2.5rem;
}

.mx {
  margin: 10px;
}

.mtx, .mvx {
  margin-top: 10px;
}

.mtx-rem, .mvx-rem {
  margin-top: 0.625rem;
}

.mbx, .mvx {
  margin-bottom: 10px;
}

.mbx-rem, .mvx-rem {
  margin-bottom: 0.625rem;
}

.mlx, .mhx {
  margin-left: 10px;
}

.mlx-rem, .mhx-rem {
  margin-left: 0.625rem;
}

.mrx, .mhx {
  margin-right: 10px;
}

.mrx-rem, .mhx-rem {
  margin-right: 0.625rem;
}

.p {
  padding: 20px;
}

.pt, .pv {
  padding-top: 20px;
}

.pt-rem, .pv-rem {
  padding-top: 1.25rem;
}

.pb, .pv {
  padding-bottom: 20px;
}

.pb-rem, .pv-rem {
  padding-bottom: 1.25rem;
}

.pl, .ph {
  padding-left: 20px;
}

.pl-rem, .ph-rem {
  padding-left: 1.25rem;
}

.pr, .ph {
  padding-right: 20px;
}

.pr-rem, .ph-rem {
  padding-right: 1.25rem;
}

.pd {
  padding: 40px;
}

.ptd, .pvd {
  padding-top: 40px;
}

.ptd-rem, .pvd-rem {
  padding-top: 2.5rem;
}

.pbd, .pvd {
  padding-bottom: 40px;
}

.pbd-rem, .pvd-rem {
  padding-bottom: 2.5rem;
}

.pld, .phd {
  padding-left: 40px;
}

.pld-rem, .phd-rem {
  padding-left: 2.5rem;
}

.prd, .phd {
  padding-right: 40px;
}

.prd-rem, .phd-rem {
  padding-right: 2.5rem;
}

.px {
  padding: 10px;
}

.ptx, .pvx {
  padding-top: 10px;
}

.ptx-rem, .pvx-rem {
  padding-top: 0.625rem;
}

.pbx, .pvx {
  padding-bottom: 10px;
}

.pbx-rem, .pvx-rem {
  padding-bottom: 0.625rem;
}

.plx, .phx {
  padding-left: 10px;
}

.plx-rem, .phx-rem {
  padding-left: 0.625rem;
}

.prx, .phx {
  padding-right: 10px;
}

.prx-rem, .phx-rem {
  padding-right: 0.625rem;
}

.h {
  display: none !important;
  visibility: hidden;
}

.hv {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hv-focusable:active, .hv-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.hi {
  visibility: hidden;
}

.fl {
  float: left;
  _display: inline;
}

.fr {
  float: right;
  _display: inline;
}

.fc:before, .fc:after {
  content: " ";
  display: table;
}

.fc:after {
  clear: both;
}

.bg-primary {
  background: #211F22;
}

.bg-success {
  background: #5cb85c;
}

.bg-info {
  background: #5bc0de;
}

.bg-warning {
  background: #f0ad4e;
}

.bg-danger {
  background: #d9534f;
}

.bg-common {
  background: #fff;
}

.bg-gray-darker {
  background: #222222;
}

.bg-gray-dark {
  background: #333333;
}

.bg-gray {
  background: #555555;
}

.bg-gray-light {
  background: #999999;
}

.bg-gray-lighter {
  background: #eeeeee;
}

.fg-primary {
  color: #211F22;
}

.fg-primary a {
  color: #211F22;
  font-weight: 700;
  margin-left: 1px;
  margin-right: 1px;
}

.fg-success {
  color: #5cb85c;
}

.fg-success a {
  color: #5cb85c;
  font-weight: 700;
  margin-left: 1px;
  margin-right: 1px;
}

.fg-info {
  color: #5bc0de;
}

.fg-info a {
  color: #5bc0de;
  font-weight: 700;
  margin-left: 1px;
  margin-right: 1px;
}

.fg-warning {
  color: #f0ad4e;
}

.fg-warning a {
  color: #f0ad4e;
  font-weight: 700;
  margin-left: 1px;
  margin-right: 1px;
}

.fg-danger {
  color: #d9534f;
}

.fg-danger a {
  color: #d9534f;
  font-weight: 700;
  margin-left: 1px;
  margin-right: 1px;
}

.fg-text {
  color: #444;
}

.fg-text a {
  color: #444;
  font-weight: 700;
  margin-left: 1px;
  margin-right: 1px;
}

.fg-quiet {
  color: #aaa;
}

.fg-quiet a {
  color: #aaa;
  font-weight: 700;
  margin-left: 1px;
  margin-right: 1px;
}

.fg-loud {
  color: #111;
}

.fg-loud a {
  color: #111;
  font-weight: 700;
  margin-left: 1px;
  margin-right: 1px;
}

.fg-link {
  color: #211F22;
}

.fg-link a {
  color: #211F22;
  font-weight: 700;
  margin-left: 1px;
  margin-right: 1px;
}

.db {
  display: block;
}

.di {
  display: inline;
}

.dib {
  display: inline-block;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

.tb {
  font-weight: bold;
}

.ti {
  font-style: italic;
}

.tu {
  text-decoration: underline;
}

.td {
  text-decoration: line-through;
}

.tp {
  font-size: 18px;
}

.tm {
  font-size: 12px;
}

.to {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sl {
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  text-indent: 10000px;
  margin: -0.09em 0.5em 0;
  line-height: 1;
  background-color: #999999;
  overflow: hidden;
}

.ar-b {
  display: inline-block;
  width: 0;
  height: 0;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  border-top: 4px solid ;
  border-right: 4px dashed transparent;
  border-left: 4px dashed transparent;
  margin-left: 2px;
}

.ar-t {
  display: inline-block;
  width: 0;
  height: 0;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  border-bottom: 4px solid ;
  border-right: 4px dashed transparent;
  border-left: 4px dashed transparent;
  margin-left: 2px;
}

.ar-l {
  display: inline-block;
  width: 0;
  height: 0;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  border-right: 4px solid ;
  border-top: 4px dashed transparent;
  border-bottom: 4px dashed transparent;
  margin-left: 2px;
}

.ar-r {
  display: inline-block;
  width: 0;
  height: 0;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  border-left: 4px solid ;
  border-top: 4px dashed transparent;
  border-bottom: 4px dashed transparent;
  margin-left: 2px;
}
