@charset "utf-8";

////
/// @group helpers
/// @author Bios Sun <biossun@gmail.com>
////

/// 触发一个元素的块级格式化上下文
/// @deprecated 基本没有多少情况下会需要使用该方式触发一个元素的块级格式化上下文，因此该混入类将在正式版（v1.0.0）中移除，请不要再使用。
@mixin block-formatting-context {
    display: table-cell;
    @if $support-for-ie6 or $support-for-ie7 {
        *zoom: 1;
    }

    @if $support-for-ie6 {
        _position: relative;
        _left: -3px;
        _margin-right: -3px;
    }

    &:after {
        content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
        visibility: hidden;
        clear: both;
        height: 0 !important;
        display: block;
        line-height: 0;
    }
}
