@charset "utf-8";

// 英文无衬线字体集
$FONT-FAMILY-SANS-SERIF:         "Helvetica Neue", Helvetica, Arial, sans-serif;
// 英文衬线字体集
$FONT-FAMILY-SERIF:              Georgia, "Times New Roman", Times, serif;
// 英文等宽字体集
$FONT-FAMILY-FIXED-FONT:         Menlo, Monaco, Consolas, "Courier New", monospace;
// 较适合中文环境的无衬线字体集
$FONT-FAMILY-CHINESE-SANS-SERIF: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif !default;
