@charset "utf-8";

/// 计算并返回所指定盒尺寸的实际高度
///
/// @param {String}  $name 盒尺寸配置名称
/// @param {String} $box-sizing 盒模型计算模式
/// @param {Number} $row-number 文本内容的行数
@function get-element-box-height-by-name (
    $name: $default-element-box-name,
    $box-sizing: $default-box-sizing,
    $row-number: 1
) {
    $map: map-get($element-box-maps, $name);
    $h:   map-get($map, height);
    $pv:  map-get($map, padding-vertical);
    $bw:  map-get($map, border-width);
    $fs:  map-get($map, font-size);
    $lh:  map-get($map, line-height);

    $fs:  if($fs, $fs, $font-size-base);
    $lh:  if($lh, $lh, $line-height-base);
    $clh: computed-line-height($fs, $lh);

    $eh:  0;

    @if $box-sizing == border-box and $h {
        $eh: $h;
    }
    @else {
        $outer: $pv * 2 + $bw * 2;

        @if $h {
            $eh: $outer + $h;
        }
        @else {
            $eh: $outer + $clh * $row-number;
        }
    }

    @return $eh;
}
