@charset "utf-8";

////
/// @group helpers
/// @author Bios Sun <biossun@gmail.com>
////

/// 快速设置元素的 margin 值
///
/// @param {List} $vals - 所设置的外边距的值
///
/// @example scss - source
///     @include margin(10px);
///
///     @include margin(10px null 10px);
///
///
///     @include margin(10px 10px 10px null);
///
/// @example css - output
///     margin: 10px;
///
///     margin-top: 10px;
///     margin-bottom: 10px;
///
///     margin-top: 10px;
///     margin-right: 10px;
///     margin-bottom: 10px;
@mixin margin($vals) {
    $coordinates: nojiko-expand($vals);

    $top:    nth($coordinates, 1);
    $right:  nth($coordinates, 2);
    $bottom: nth($coordinates, 3);
    $left:   nth($coordinates, 4);

    @if $top and $right and $bottom and $left {
        margin: $vals;
    }
    @else {
        @if $top {
            margin-top: $top;
        }

        @if $right {
            margin-right: $right;
        }
        @if $bottom {
            margin-bottom: $bottom;
        }
        @if $left {
            margin-left: $left;
        }
    }
}
