@charset "utf-8";

/// 用于快速书写 postion 相关样式规则，可以同时定义 position，left，right，top，bottom 以及 z-index 五个规则。
///
/// @example
///     position(absolute, 20px 0 0, 1000);
@mixin position($position: relative, $coordinates: null null null null, $z-index: null) {
    position: $position;

    $coordinates: nojiko-expand($coordinates);

    $top:    nth($coordinates, 1);
    $right:  nth($coordinates, 2);
    $bottom: nth($coordinates, 3);
    $left:   nth($coordinates, 4);

    @if $top    { top:    $top;    }
    @if $right  { right:  $right;  }
    @if $bottom { bottom: $bottom; }
    @if $left   { left:   $left;   }

    @if $position == absolute and $support-for-ie6 {
        _zoom: 1; // IE6 中的绝对定位是相对内容区域定位，而非包含内边距在内的区域
    }

    @if $z-index { z-index: $z-index; }
}
