@charset "utf-8";

// -----------------------------------------------------------------------------
// 该方法用于操纵全局备选配色集合
// -----------------------------------------------------------------------------

@function set-alternative-color-map(
    $name,
    $color,
    $text: null,
    $border: null,
    $isDefault: false
) {
    @if global-variable-exists(alternative-color-map) == false {
        $alternative-color-map: () !global;
    }

    @if is-default($text) {
        $isDefault: true;
        $text: null;
    }

    @if is-default($border) {
        $isDefault: true;
        $border: null;
    }

    // $text default value.
    $text: if($text, $text, #fff);

    // border default value.
    $border: if($border, $border, darken($color, 7));

    // set map
    @if (is-default($isDefault) and map-has-key($color-maps, $name)) == false {
        @return map-set($alternative-color-map, $name, (
                            color: $color,
                            border: $border,
                            text: $text
                        ));
    }
    @else {
        @return $color-maps;
    }
}
