@charset "utf-8";

// =============================================================================
// 设置元素盒模型
// @param width 宽度
// @param height 高度
// @param $padding-vertical 垂直内边距
// @param $padding-horizontal 水平内边距
// @param $font-size 文字大小
// @param $line-height 文字行高
// @param border-width 边框宽度
// @param border-radius 圆角
// =============================================================================

@mixin set-element-box(
    $width:                null,
    $height:               null,
    $padding-vertical:     null,
    $padding-horizontal:   null,
    $border-width:         null,
    $border-radius:        null,
    $font-size:            null,
    $line-height:          null
) {

    @if $width {
        width: $width;
    }

    @if $height {
        height: $height;
    }

    @if $padding-vertical and $padding-horizontal {
        padding: $padding-vertical $padding-horizontal;
    }
    @else if $padding-vertical {
        padding: {
            top: $padding-vertical;
            bottom: $padding-vertical;
        }
    }
    @else if $padding-horizontal {
        padding: {
            left: $padding-horizontal;
            right: $padding-horizontal;
        }
    }

    @if $font-size {
        font-size: $font-size;
    }

    @if $line-height {
        line-height: $line-height;
    }

    @if $border-width {
        border-width: $border-width;
    }

    @if $border-radius {
        border-radius: $border-radius;
    }
}

@mixin set-element-box-by-name(
    $name:                 null,
    $width:                null,
    $height:               null,
    $padding-vertical:     null,
    $padding-horizontal:   null,
    $border-width:         null,
    $border-radius:        null,
    $font-size:            null,
    $line-height:          null
) {
    $element-box: map-get($element-box-map, $name);
    $element-box: if($element-box, $element-box, ());

    @include set-element-box(
        $width:              $width,
        $height:             $height,
        $padding-vertical:   if($padding-vertical, $padding-vertical, map-get($element-box, padding-vertical)),
        $padding-horizontal: if($padding-horizontal, $padding-horizontal, map-get($element-box, padding-horizontal)),
        $border-width:       if($border-width, $border-width, map-get($element-box, border-width)),
        $border-radius:      if($border-radius, $border-radius, map-get($element-box, border-radius)),
        $font-size:          if($font-size, $font-size, map-get($element-box, font-size)),
        $line-height:        if($line-height, $line-height, map-get($element-box, line-height))
    );
}
