@charset "utf-8";

$alternative-color-maps: () !default;

/// 该方法用于操纵全局备选配色集合
@function set-alternative-color-maps(
    $name,
    $color,
    $text: null,
    $border: null,
    $is-default: false
) {
    @if $text {
        $is-default: true;
        $text: null;
    }

    @if $border {
        $is-default: true;
        $border: null;
    }

    // $text default value.
    $text: if($text, $text, #fff);

    // border default value.
    $border: if($border, $border, darken($color, 7));

    // set map
    @if ($is-default and map-has-key($alternative-color-maps, $name)) == false {
        @return map-set($alternative-color-maps, $name, (
                            color: $color,
                            border: $border,
                            text: $text
                        ));
    }
    @else {
        @return $alternative-color-maps;
    }
}
