@charset "utf-8";

$element-box-maps: () !default;

/// 设置盒模型集合
@function set-element-box-maps(
    $name,
    $padding-vertical: null,
    $padding-horizontal: null,
    $border-width: null,
    $border-radius: null,
    $font-size: null,
    $line-height: null,
    $is-default: false,
    $is-merge: false
) {
    // set map
    @if ($is-default and map-has-key($element-box-maps, $name)) == false {
        $map: (
            padding-vertical: $padding-vertical,
            padding-horizontal: $padding-horizontal,
            border-width: $border-width,
            font-size: $font-size,
            line-height: $line-height,
            border-radius: $border-radius
        );

        @if $is-merge {
            $map: map-merge(map-get($element-box-maps, $name), map);
        }

        @return map-set($element-box-maps, $name, $map);
    }
    @else {
        @return $element-box-maps;
    }
}
