@charset "utf-8";

// -----------------------------------------------------------------------------
// 该方法用于操纵全局配色集合
// -----------------------------------------------------------------------------

@function set-color-map(
    $name,
    $color,
    $text: #fff,
    $border: darken($color, 7%)
) {
    @if global-variable-exists(color-maps) == false {
        $color-maps: () !global;
    }

    @return map-set($color-maps, $name, (
                        color: $color,
                        border: $border,
                        text: $text
                    ));
}
