@charset "utf-8";

$TEXT-INPUTS-LIST: 'input[type="email"]',
              'input[type="number"]',
              'input[type="password"]',
              'input[type="search"]',
              'input[type="tel"]',
              'input[type="text"]',
              'input[type="url"]',
              'input[type="color"]',
              'input[type="date"]',
              'input[type="datetime"]',
              'input[type="datetime-local"]',
              'input[type="month"]',
              'input[type="time"]',
              'input[type="week"]';

$ALL-TEXT-INPUTS: nojiko-attach-inputs($TEXT-INPUTS-LIST);
$ALL-TEXT-INPUTS-HOVER: nojiko-attach-inputs($TEXT-INPUTS-LIST, 'hover');
$ALL-TEXT-INPUTS-FOCUS: nojiko-attach-inputs($TEXT-INPUTS-LIST, 'focus');
