@charset "utf-8";

////
/// @group helpers
/// @author Bios Sun <biossun@gmail.com>
////

/// 为元素设置半透明背景色，在低版本的 IE 浏览器中，会使用 filter 实现该效果。
///
/// **Note：因为 IE9 同时支持 alpha 以及 filter，因此在应用 IE Hack 时会导致两个设置相互重叠，
/// 使得最终显示的颜色要比所设置的颜色深一些。**
///
/// @param {Color} $color - 所设置的背景色
/// @param {Number} $alpha [null] - 若所设置的色值中不包含 alpha 通道，则可以使用该参数单独指定
///
/// @example scss - source
///
///     .box {
///         @include translucent-background(rgba(0, 0, 0, .2));
///     }
///
/// @example css - output
///
///     .box {
///         background: rgba(0, 0, 0, .2);
///
///         /* if support ie8, has this. */
///         zoom: 1\9;
///         filter: progid:DXImageTransform.Microsoft.Gradient(
///             GradientType=0,
///             StartColorStr='#33000000',
///             EndColorStr='#33000000'
///         );
///     }
///
/// @example scss - source
///
///     .box {
///         @include translucent-background(#000, .2);
///     }
///
/// @example css - output
///
///     .box {
///         background: rgba(0, 0, 0, .2);
///
///         /* if support ie8, has this. */
///         zoom: 1\9;
///         filter: progid:DXImageTransform.Microsoft.Gradient(
///             GradientType=0,
///             StartColorStr='#33000000',
///             EndColorStr='#33000000'
///         );
///     }
@mixin translucent-bgcolor($color, $alpha: null) {

    @if $alpha {
        $color: rgba($color, $alpha);
    }

    background: $color;

    @if $support-for-ie8 {
        zoom: 1\9;
        filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#{ie-hex-str($color)}', EndColorStr='#{ie-hex-str($color)}');
    }
}
